include ../button/button

//-
  options.title - заголовок компонента, может быть массивом если isSplit true
  options.placeholder - строка placeholder дропдауна, может быть массивом если isSplit true
  options.maxLen - максимальное количество символов в инпуте, лишние будут отброшены
  options.type - тип dropdown, допустимые значения: 'counter' | 'summator'
  options.rows - массив объектов
  options.rows[0].text - текст строки
  options.rows[0].counter - значение счётчика этой строки
  options.rows[0].countables - массив, содержащий три формы rows[0].text (например: ['кровать', 'кровати',
    'кроватей']). Для 'summator', можно не указывать, но если указано, то данная строка будет подсчитываться отдельно
  options.hasControls - если true, то в разделе контента у dropdown появятся две кнопки 'очистить' и 'принять'
  options.countables - только для 'summator', массив, содержащий три формы подсчитываемого в dropdown 
  options.isExpanded - если true, то dropdown будет изначально раскрыт
  options.valueChanged - название триггера, который будет запускаться при изменении dropdown
mixin dropdown(options = {})
  -
    const { 
      title = '',
      placeholder = '',
      rows = [], 
      maxLen = 100,
      type = 'counter',
      isExpanded = false,
      hasControls = false, 
      countables = [], 
      valueChanged, 
    } = options;

    const classes = [];
    if (isExpanded) classes.push('dropdown_open');

  .dropdown.js-dropdown(
    class = classes
    data-type = type
    data-value-changed = valueChanged
    data-max-len = maxLen
    data-has-controls = hasControls
    data-countables = (type === 'summator') ? countables : null
  )
    .dropdown__inputs.js-dropdown__inputs
      .dropdown__input
        .dropdown__title= title
        .dropdown__input-box.js-dropdown__input-box
          input.dropdown__text.js-dropdown__text(type = "text" placeholder = placeholder readonly = true)
          .dropdown__icon expand_more

    .dropdown__content.js-dropdown__content
      each row in rows
        .dropdown__row.js-dropdown__row(data-row-countables = row.countables)
          .dropdown__row-text= row.text
          .dropdown__row-buttons
            .dropdown__button-minus.js-dropdown__button-minus(class = (row.counter !== 0) ? 'dropdown__button-minus_active' : '') -
            .dropdown__counter.js-dropdown__counter= row.counter
            .dropdown__button-plus.js-dropdown__button-plus.dropdown__button-plus_active +

      if hasControls
        .dropdown__control-buttons
          .dropdown__clear-button.js-dropdown__clear-button
            +button({ text: 'очистить'})

          .dropdown__accept-button.js-dropdown__accept-button
            +button({ text: 'применить'})
