@import '../../styles/variables';

.dropdown {
  position: relative;

  $class: &;
  $border-radius: 0.25rem;
  $button-size: 1.875rem;

  &__info {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.3125rem;
  }

  &__title {
    @extend %label;
  }

  &__condition {
    @extend %label;

    font-weight: normal;
    color: rgba($dark, 50%);
  }

  &__inputs {
    &_split {
      display: flex;

      #{$class}__input {
        flex-grow: 1;

        &:first-child {
          margin-right: 1.25rem;
        }
      }
    }
  }

  &__input-box {
    min-height: 2.75rem;
    position: relative;
    display: flex;
    justify-content: space-between;
    border: $border-width solid rgba($dark, 25%);
    border-radius: $border-radius;
    cursor: pointer;
  }

  &__text {
    @extend %default-text;

    width: 100%;
    outline: none;
    border: none;
    cursor: pointer;
    user-select: none;
    margin: 0 2.6875rem 0.125rem 0.875rem;
    padding: 0;
  }

  &__icon {
    @extend %material-icons;

    font-size: 1.5rem;
    color: rgba($dark, 75%);
    position: absolute;
    right: 0.625rem;
    top: 0.625rem;
  }

  &__content {
    display: none;
    position: absolute;
    z-index: $z-expanded;
    width: 100%;
    background-color: $background;
    border: $border-width solid rgba($dark, 50%);
    border-top: none;
    border-radius: 0 0 $border-radius $border-radius;
    padding: 0.4375rem 0.4375rem 0.4375rem 0.9375rem;
  }

  &__row {
    @extend %label;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    &:not(:last-of-type) {
      margin-bottom: 0.4375rem;
    }
  }

  &__row-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 5.75rem;
  }

  &__button-minus,
  &__button-plus {
    @extend %default-text;

    flex-shrink: 0;
    font-size: 1.125rem;
    line-height: $button-size;
    color: rgba($dark, 25%);
    text-align: center;
    width: $button-size;
    height: $button-size;
    border: $border-width solid rgba($dark, 25%);
    border-radius: 50%;
    user-select: none;

    &_active {
      color: rgba($dark, 50%);
      border-color: rgba($dark, 50%);
      cursor: pointer;
    }
  }

  &__counter {
    flex-grow: 1;
    text-align: center;
  }

  &__control-buttons {
    padding: 0.75rem 0 0.4375rem;

    #{$class}__clear-button {
      float: left;
    }

    #{$class}__accept-button {
      float: right;
    }

    // collapse fix
    &::after {
      content: '';
      clear: both;
      display: block;
    }
  }

  &_open,
  &_with-content-only {
    #{$class}__input-box {
      border-color: rgba($dark, 50%);
      border-radius: $border-radius $border-radius 0 0;
    }

    #{$class}__content {
      display: block;
    }

    #{$class}__icon {
      transform: rotate(180deg);
    }
  }

  &_expanded,
  &_with-content-only {
    #{$class}__content {
      position: inherit;
    }
  }

  &_datepicker {
    #{$class}__input-box {
      border-radius: $border-radius;
    }

    #{$class}__content {
      border: none;
      padding: 0;
      margin-top: 0.3125rem;
      background-color: transparent;
    }
  }

  &_with-content-only {
    #{$class}__content {
      margin: 0;
    }

    #{$class}__info,
    #{$class}__input {
      display: none;
    }
  }

  @media (max-width: $xs) {
    &_datepicker {
      #{$class}__content {
        left: -1.75rem;
      }
    }
  }
}
