include ../button/button

//- options:
//-   placeholder - placeholder дропдауна
//-   rows - массив объектов
//-     rows[0].text - текст строки
//-     rows[0].counter - значение счётчика этой строки
//-     rows[0].countables - массив, содержащий три формы rows[0].text (например: ['кровать', 'кровати', 'кроватей'])
//-   isSummator - если true, то dropdown будет в режиме сумматора, так же rows[] теперь игнорирует countables
//-   countables - массив, передаваемый вместе с isSummator, он содержит три формы подсчитываемого в dropdown 
mixin dropdown(options)
  if !options
    - options = {};
  -
    const { placeholder = '', rows = [], maxLen = 10, isSummator = false, countables = [] } = options;
    let classes = [];
    if (isSummator) {
      classes.push('dropdown_summator');
    }

  .dropdown.js-dropdown(
    class = classes 
    data-placeholder = placeholder
    data-max-len = maxLen
    data-countables = (isSummator) ? countables : null
    )
    .dropdown__dropdown
      .dropdown__text= placeholder
      .dropdown__icon expand_more
    .dropdown__content
      - for (let row of rows)
        .dropdown__row(data-row-countables = (isSummator) ? null : row.countables)
          .dropdown__row-text= row.text
          .dropdown__buttons
            .dropdown__button-minus(class = (row.counter !== 0) ? 'dropdown__button-minus_active' : '') -
            .dropdown__counter= row.counter
            .dropdown__button-plus.dropdown__button-plus_active +
      - if (isSummator)
        .dropdown__control-buttons
          .dropdown__clear-button
            +button({ text: 'очистить'})
          .dropdown__accept-button
            +button({ text: 'принять'})
