@import '../../styles/variables.scss';
@import '../../styles/fonts.scss';

.dropdown {
  position: relative;
  $border-radius: 4px;
  $button-size: 30px;

  &__info {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
  }

  &__title {
    @extend %label;
  }

  &__condition {
    @extend %label;
    font-weight: normal;
    color: rgba($dark, .5);
  }

  &__dropdowns_split {
    display: flex;

    .dropdown__dropdown {
      flex-grow: 1;

      &:first-of-type {
        margin-right: 20px;
      }
    }
  }

  &__input-box {
    box-sizing: border-box;
    height: 44px;
    position: relative;
    display: flex;
    justify-content: space-between;
    border: 1px solid rgba($dark, .25);
    border-radius: $border-radius;
    cursor: pointer;
  }

  &__text {
    @extend %default-text;
    width: 100%;
    outline: none;
    border: none;
    cursor: pointer;
    margin-left: 7px;
    margin-right: 43px;
    padding: 0;
  }

  &__icon {
    @extend %material-icons;
    font-size: 24px;
    color:rgba($dark, .75);
    position: absolute;
    right: 10px;
    top: 10px;
  }

  &__content {
    box-sizing: border-box;
    display: none;
    position: absolute;
    z-index: 1000;
    width: 100%;
    background-color: white;
    border: 1px solid rgba($dark, .5);
    border-top: none;
    border-bottom-left-radius: $border-radius;
    border-bottom-right-radius: $border-radius;
    padding: 7px 7px 7px 15px;

    .air-datepicker {
      border-radius: 4px;
      border: 1px solid rgba($dark, .25);
      box-shadow: none;
      box-sizing: border-box;
      width: 320px;
      padding: 20px;
    
      &--pointer {
        display: none;
      }
    
      &-nav {
        border: none;
        padding: 0;
        margin: 0;
    
        &--title {
          @extend %item-title;
        }
    
        &--action {
          &[data-action='prev']::after, &[data-action='next']::after {
            @extend %material-icons;
            font-size: 24px;      
            background: $primary-gradient;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            display: initial;
          }
        
          &[data-action='prev']::after {
            content: 'arrow_back';
          }
        
          &[data-action='next']::after {
            content: 'arrow_forward';
          }
        }
      }
    
      &--content {
        padding: 0px;
      }
    
      &-body {
        &--day-names {
          grid-template-columns: repeat(7, 40px);
          grid-auto-rows: 40px;
          margin: 0;
        }
    
        &--day-name {
          @extend %label;
          text-transform: capitalize;
          color: $purple;
          width: 40px;
          height: 40px;
        }
    
        &--cells {
          &.-days- {
            grid-template-columns: repeat(7, 40px);
            grid-auto-rows: 40px;
          }
        }
      }
    
      &-cell {
        &.-day- {
          @extend %label;
          font-weight: normal;
          text-transform: none;
          color: rgba($dark, .5);
    
          &.-current- {
            position: relative;
            font-weight: bold;
            color: white;
    
            &::after {
              content: '';
              position: absolute;
              z-index: -1;
              width: 100%;
              height: 100%;
              border-radius: 50%;
              background: $secondary-gradient;
            }
          }
  
          &.-other-month- {
            color:rgba($dark, .25);
          }
    
          &.-selected-, &.-selected-.-other-month- {
            position: relative;
            font-weight: bold;
            color: white;
            background: $primary-gradient-25;
    
            &::after {
              content: '';
              position: absolute;
              z-index: -1;
              width: 100%;
              height: 100%;
              border-radius: 50%;
              background: $primary-gradient;
            }
          }
          
          &.-range-from-, &.-range-to- {
            border: none;
            background: $primary-gradient-25;
          }
    
          &.-range-from- {
            border-top-left-radius: 50%;
            border-bottom-left-radius: 50%;
          }
    
          &.-range-to- {
            border-top-right-radius: 50%;
            border-bottom-right-radius: 50%;
          }
    
          &.-in-range-, &.-in-range-.-other-month- {
            background: $primary-gradient-25;
    
            &:not(.-current-) {
              color: rgba($dark, .5);
            }
          }
    
          &.-focus- {
            border: none;
            background: $primary-gradient-25;
    
            &.-other-month- {
              &.-in-range-, &.-selected- {
                background: $primary-gradient-25;
              }
            }
    
            &:not(.-in-range-):not(.-selected-):not(.-range-from-):not(.-range-to-) {
              border-radius: 50%;
            }
          }
        }
      }
    
      &--buttons {
        border: none;
        padding: 0;
        margin-top: 20px;
      }
    
      &-buttons {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
      }
    
      &-button {
        @extend %label;
        color: $purple;
        padding: 0;
        height: auto;
    
        &:hover {
          background: initial;
          color: rgba($dark, .5);
        }
      }
    }
  }

  &__row {
    @extend %label;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    &:not(:last-of-type) {
      margin-bottom: 7px;
    }
  }

  &__buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 92px;
  }

  &__button-minus, &__button-plus {
    @extend %default-text;
    box-sizing: border-box;
    flex-shrink: 0;
    font-size: 1.125rem;
    line-height: $button-size;
    color:rgba($dark, .25);
    text-align: center;
    width: $button-size;
    height: $button-size;
    border: 1px solid rgba($dark, .25);
    border-radius: 50%;
    user-select: none;
  }

  &__counter {
    flex-grow: 1;
    text-align: center;
  }

  &__button-minus_active, &__button-plus_active {
    color: rgba($dark, .5);
    border-color: rgba($dark, .5);
    cursor: pointer;
  }

  &__control-buttons {
    padding-top: 12px;
    padding-bottom: 7px;

    .dropdown__clear-button {
      float: left;
    }

    .dropdown__accept-button {
      float: right;
    }

    // collapse fix
    &::after {
      content: '';
      clear: both;
      display: block;
    }
  }

  &_open, &_expanded, &_content-only {
    .dropdown__input-box {
      border-color: rgba($dark, .5);
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
    }
    
    .dropdown__content {
      display: block;
    }

    .dropdown__icon {
      transform: rotate(180deg);
    }
  }

  &_expanded, &_content-only {
    .dropdown__content {
      position: inherit;
    }
  }

  &_datepicker {
    .dropdown__input-box {
      border-radius: $border-radius;
    }

    .dropdown__content {
      border: none;
      padding: 0;
      margin-top: 5px;
      background-color: transparent;
    }
  }

  &_content-only {
    .dropdown__info, .dropdown__dropdown {
      display: none;
    }
  }
}
