@import '../../styles/variables.scss';
@import '../../styles/fonts.scss';

.dropdown {
  box-sizing: border-box;
  position: relative;
  $border-radius: 4px;
  $button-size: 30px;
  width: 266px;

  &__dropdown {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: 1px solid rgba($dark, .25);
    border-top-left-radius: $border-radius;
    border-top-right-radius: $border-radius;
    user-select: none;
    cursor: pointer;
  }

  &__text {
    @extend %default-text;
    padding: 11px 14px 7px 14px;
  }

  &__icon {
    align-self: center;
    margin-right: 9px;
    color:rgba($dark, .75);
  }

  &__content {
    box-sizing: border-box;
    display: none;
    position: absolute;
    z-index: 1000;
    width: 100%;
    background-color: white;
    border: 1px solid rgba($dark, .5);
    border-top: none;
    border-bottom-left-radius: $border-radius;
    border-bottom-right-radius: $border-radius;
    padding: 7px 7px 7px 15px;
  }

  &__row {
    @extend %label;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    &:not(:last-of-type) {
      margin-bottom: 7px;
    }
  }

  &__buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 92px;
  }

  &__button-minus, &__button-plus {
    @extend %default-text;
    box-sizing: border-box;
    flex-shrink: 0;
    font-size: 1.125rem;
    line-height: $button-size;
    color:rgba($dark, .25);
    text-align: center;
    width: $button-size;
    height: $button-size;
    border: 1px solid rgba($dark, .25);
    border-radius: 50%;
    user-select: none;
  }

  &__count {
    flex-grow: 1;
    text-align: center;
  }

  &__button-minus_active, &__button-plus_active {
    color: rgba($dark, .5);
    border-color: rgba($dark, .5);
    cursor: pointer;
  }

  &__control-buttons {
    padding-top: 12px;
    padding-bottom: 7px;

    .dropdown__clear-button {
      float: left;
    }

    .dropdown__accept-button {
      float: right;
    }

    // collapse fix
    &::after {
      content: '';
      clear: both;
      display: block;
    }
  }

  &_expanded {
    .dropdown__dropdown {
      border-color: rgba($dark, .5);
    }
    
    .dropdown__content {
      display: block;
    }

    .dropdown__icon {
      transform: rotate(180deg);
    }
  }
}
