@import '../../styles/variables';
@import '../../styles/mixins';

.room-details {
  width: 100%;
  height: 100%;
  border-bottom: $border-width solid rgba($dark, 10%);

  $class: &;

  &__images {
    // если поставить 100%, то объемлющий контейнер будет рассчитывать
    // свою высоту в зависимости от размера содержащихся в этом контейнере
    // изображений, а при 99999px он будет рассчитывать свой размер в
    // зависимости от размеров этого контейнера
    height: 99999px;
    max-height: 30.25rem;
    max-width: $xl;
    margin: 0 auto;

    &::after {
      content: '';
      display: block;
      height: 0;
      clear: both;
    }

    @media (max-width: $sm) {
      max-height: 20rem;
    }

    @media (max-width: $xs) {
      max-height: 15rem;
    }
  }

  &__image {
    float: left;
    width: 32%;
    height: 100%;
    object-fit: cover;

    &:first-child {
      width: 68%;
    }

    &:not(:first-child) {
      height: 50%;
    }

    @media (max-width: $md) {
      &:first-child {
        width: 100%;
      }

      &:not(:first-child) {
        display: none;
      }
    }
  }

  &__content {
    display: flex;
    max-width: $content-width;
    margin: 0 auto;
    padding: 4.375rem 0;

    @media (max-width: calc($content-width + 2.5rem)) {
      margin-left: 2.5rem;
      margin-right: 2.5rem;
    }

    @media (max-width: $md) {
      flex-direction: column;
      align-items: center;
    }

    @media (max-width: $xs) {
      margin-left: 0.25rem;
      margin-right: 0.25rem;
    }
  }

  &__info {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 2.125rem 0.625rem;

    & > *:nth-child(3) {
      grid-column: 1 / 3;
    }

    @media (max-width: $sm) {
      grid-gap: 0;
      display: flex;
      flex-direction: column;

      & > *:not(:last-child) {
        margin-bottom: 1.875rem;
      }
    }
  }

  &__wrapper {
    &_wide {
      max-width: 21.25rem;
    }

    &_small {
      max-width: 17.5rem;
    }

    &_smaller {
      max-width: 16.25rem;
    }

    @media (max-width: $sm) {
      &_wide,
      &_small,
      &_smaller {
        max-width: 100%;
      }
    }
  }

  &__item-title {
    @extend %item-title;

    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-bottom: 1.25rem;

    &_variant {
      &_impression {
        margin-bottom: 1.3125rem;
      }
    }
  }

  &__advantages {
    @include flex-layout(column, 1.25rem);
  }

  &__comments-counter {
    @extend %default-text;

    line-height: 0.875rem;
    white-space: nowrap;
    color: rgba($dark, 50%);
  }

  &__comments {
    display: grid;
    grid-row-gap: 1.5rem;
  }

  &__text {
    @extend %default-text;
  }

  &__rules-title {
    margin-left: 1.25rem;
  }

  &__reservation {
    margin-left: 4.375rem;
    width: 100%;
    max-width: 23.75rem;

    @media (max-width: $md) {
      margin: 1.875rem 0 0;
    }
  }
}
