mixin doughnut-chart(options = {})
  -
    const {
      items = [
        {
          text: 'first item',
          counter: 130,
          color: {
            direction: 180,
            stops: [
              {
                percent: 0,
                color: "#FFE39C"
              },
              {
                percent: 100,
                color: "#FFBA9C"
              }
            ]
          }
        },
        {
          text: 'second item',
          counter: 1337,
          color: 'red',
        },
      ],
      votes = 'голосов',
      size = 122,
    } = options;
    const total = items.reduce((sum, item) => sum + item.counter, 0);
    const labels = items.map((item) => item.text);

  .doughnut-chart.js-doughnut-chart(
    data-items = items
    data-size = size
  )
    .doughnut-chart__chart-wrapper.js-doughnut-chart__chart-wrapper
      canvas.doughnut-chart__chart.js-doughnut-chart__chart

      .doughnut-chart__total
        .doughnut-chart__counter= total
        .doughnut-chart__votes= votes

    ul.doughnut-chart__legend
      each label in labels
        li.doughnut-chart__label= label
          .doughnut-chart__dot.js-doughnut-chart__dot
