@import '../../styles/variables';

.pagination {
  display: inline-block;

  $button-size: 2.5rem;

  &__buttons {
    display: flex;
    justify-content: flex-start;
  }

  %button {
    flex-shrink: 0;
    text-align: center;
    vertical-align: middle;
    line-height: $button-size;
    width: $button-size;
    height: $button-size;
    border-radius: 50%;
    user-select: none;
    cursor: pointer;
  }

  &__prev,
  &__next {
    @extend %material-icons;
    @extend %button;

    font-size: 1.5rem;
    color: white;
    background: $secondary-gradient;
  }

  &__number {
    @extend %button;
    @extend %label;

    font-weight: normal;
    color: rgba($dark, 50%);

    &_current {
      color: white;
      background: $primary-gradient;
    }
  }

  &__text {
    @extend %default-text;

    text-indent: 0.4375rem;
    margin-top: 0.5rem;
  }
}
