//-
  options.theme - тема компонента: 'title' | 'item-title' | 'label' | 'default-text'
  options.tag - название тэга (например, 'H1')
  options.text - текст для примера отображения
mixin text-sample(options)
  if !options
    - options = {};

  -
    const {
      theme = 'title',
      tag = '',
      text = ''
    } = options;
    const textTheme = `text-sample_theme-${theme}`;

  .text-sample(class = textTheme)
    .text-sample__tag= tag
    .text-sample__text= text
