@import '../../styles/variables';

.text-sample {
  display: grid;
  grid-template-columns: 2.325rem 1fr;
  grid-column-gap: 1.825rem;

  &__tag {
    text-align: right;
    text-transform: capitalize;
    font-weight: normal;
    color: rgba($dark, 25%);
  }

  &_theme {
    &_title {
      @extend %title;
    }

    &_item-title {
      @extend %item-title;
    }

    &_label {
      @extend %label;
    }

    &_default-text {
      @extend %default-text;
    }
  }
}
