@import '../../styles/variables';

.text-sample {
  display: grid;
  grid-template-columns: 2.5rem 1fr;
  grid-column-gap: 1.875rem;

  &__tag {
    text-align: right;
    text-transform: capitalize;
    font-weight: normal;
    color: rgba($dark, 25%);
  }

  &_theme {
    &-title {
      @extend %title;
    }

    &-item-title {
      @extend %item-title;
    }

    &-label {
      @extend %label;
    }

    &-default-text {
      @extend %default-text;
    }
  }
}
