@import '../../styles/variables';

.text-sample {
  display: table-row;

  &__tag {
    display: table-cell;
    text-align: right;
    text-transform: capitalize;
    font-weight: normal;
    color: rgba($dark, 25%);
  }

  &__text {
    display: table-cell;
    padding-left: 30px;
  }

  &_theme {
    &-title {
      @extend %title;
    }

    &-item-title {
      @extend %item-title;
    }

    &-label {
      @extend %label;
    }

    &-default-text {
      @extend %default-text;
    }
  }
}
