//- options:
//-   count - количество звёздочек
//-   rate - число рейтинга (не может быть больше count)
//-   size - размер звёздочек (допустимые значения: 18, 24, 36, 48)
mixin rate-button(options)
  if !options
    - options = {};
  -
    let { count = 5, rate = 0, size = 24} = options;
    const starClasses = ['rate-button__star', 'material-icons', `md-${size}`];
    if (rate > count) {
      rate = count;
    }

  .rate-button.js-rate-button
    - for (let i = 0; i < rate; i++)
      div(class = starClasses) star
    - for (let i = 0; i < count - rate; i++)
      div(class = starClasses) star_border
