//- options:
//-   counter - количество звёздочек
//-   rate - число рейтинга (не может быть больше counter)
mixin rate-button(options)
  if !options
    - options = {};
  -
    const { counter = 5, rate = 0 } = options;

  .rate-button.js-rate-button
    - for (let i = 0; i < counter; i++)
      - if (i < rate)
        .rate-button__star star
      - else
        .rate-button__star star_border
