@import '../../styles/variables.scss';
@import '../../styles/fonts.scss';

.rate-button {
  display: flex;

  &__star {
    @extend %material-icons;
    font-size: 24px;
    cursor: pointer;
    user-select: none;
    background: $primary-gradient;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: initial;
  }
}
