@import '../../styles/variables';

.rate-button {
  display: flex;

  &__star {
    @extend %material-icons;

    font-size: 1.5rem;
    cursor: pointer;
    user-select: none;
    background: $primary-gradient;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: initial;
  }
}
