@import '../../styles/variables.scss';
@import '../../styles/fonts.scss';

.advantage {
  @extend %default-text;
  display: flex;
  justify-content: left;
  align-items: flex-start;

  &__icon {
    background: $primary-gradient;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: initial;
  }

  &__text-box {
    margin-left: 10px;
  }

  &__title {
    font-weight: bold;
  }
}
