@import '../../styles/variables.scss';
@import '../../styles/fonts.scss';

.advantage {
  &__content {
    @extend %default-text;
    display: flex;
    justify-content: left;
    align-items: flex-start; 
  }

  &__icon {
    @extend %material-icons;
    font-size: 48px;
    background: $primary-gradient;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: initial;
  }

  &__text-box {
    margin-left: 10px;
  }

  &__title {
    font-weight: bold;
  }

  &__underline {
    border: none;
    border-top: 1px solid rgba($dark, .1);
  }
}
