mixin advantage(options = {})
  -
    const {
      icon = '',
      title = '',
      text = '',
      hasUnderline = true,
    } = options;

  .advantage(class = (hasUnderline) ? "advantage_with-underline" : null)
    .advantage__content
      .advantage__icon= icon
      .advantage__text-box
        .advantage__title= title
        .advantage__text= text
