//-
  options.icon - название иконки из material icons
  options.title - заголовок преимущества
  options.text - описание преимущества
  options.hasUnderline - если true, то под компонентом появится подчеркивание
mixin advantage(options)
  if !options
    - options = {};

  -
    const {
      icon = '',
      title = '',
      text = '',
      hasUnderline = true,
    } = options;

  .advantage
    .advantage__content
      .advantage__icon= icon
      .advantage__text-box
        .advantage__title= title
        .advantage__text= text
    if hasUnderline
      hr.advantage__underline
