@import '../../styles/variables';

.advantage {
  $class: &;

  &__content {
    @extend %default-text;

    display: flex;
    justify-content: left;
    align-items: flex-start;
  }

  &__icon {
    @extend %material-icons;

    font-size: 3rem;
    background: $primary-gradient;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    display: initial;
  }

  &__text-box {
    margin-left: 0.625rem;
  }

  &__title {
    font-weight: bold;
  }

  &_with-underline {
    #{$class}__content {
      border-bottom: $border-width solid rgba($dark, 10%);
      padding-bottom: 1.25rem;
    }
  }
}
