include ../text-field/text-field
include ../radio-button/radio-button
include ../toggle-button/toggle-button
include ../button/button

mixin sign-in(options = {})
  -
    const {
      title = 'Войти',
      hasAccountTitle = 'Нет аккаунта на Toxin?',
    } = options;

  form.sign-in
    h2.sign-in__title= title
    .sign-in__row
      +text-field({ placeholder: 'Email' })
      +text-field({ placeholder: 'Пароль', htmlType: 'password' })

    +button({ text: 'войти', type: 'arrow', href: 'sign-in-page.html' })

    .sign-in__has-account
      .sign-in__label= hasAccountTitle
      +button({ text: 'Создать', type: 'border', href: 'registration.html' })
