include ../text-field/text-field
include ../radio-button/radio-button
include ../toggle-button/toggle-button
include ../button/button

mixin sign-in()
  form.sign-in
    h2.sign-in__title Войти
    .sign-in__row
      +text-field({ placeholder: 'Email' })
      +text-field({ placeholder: 'Пароль' })
    +button({ text: 'войти', type: 'arrow' })
    .sign-in__has-account
      .sign-in__label Уже есть аккаунт на Toxin
      +button({ text: 'войти', type: 'border' })
