@import '../../styles/variables.scss';
@import '../../styles/fonts.scss';

.sign-in {
  display: grid;
  grid-row-gap: 20px;
  box-sizing: border-box;
  width: 380px;
  padding: 39px 29px 29px 29px;
  border: 1px solid rgba(black, .12);
  box-shadow: 0px 0px 25px rgba(black, .2);
  border-radius: 4px;
  background: white;
  margin: 0;

  &__title {
    @extend %title;
  }

  &__row {
    display: grid;
    grid-row-gap: 10px;
  }

  &__genders {
    display: flex;

    .radio-button:not(:last-of-type) {
      margin-right: 20px;
    }
  }

  &__has-account {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
  }

  &__label {
    @extend %label;
    text-transform: none;
    font-weight: normal;
    color: black;
  }
}