@import '../../styles/variables';

.sign-in {
  @extend %form;

  display: grid;
  grid-row-gap: 1.25rem;
  max-width: 23.75rem;

  &__title {
    @extend %title;
  }

  &__row {
    display: grid;
    grid-row-gap: 0.625rem;
  }

  &__genders {
    display: flex;

    .radio-button:not(:last-of-type) {
      margin-right: 1.25rem;
    }
  }

  &__has-account {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 0.625rem;
  }

  &__label {
    @extend %label;

    text-transform: none;
    font-weight: normal;
    color: $dark;
  }
}
