include ../dropdown/dropdown
include ../button/button

//-
  options.rows - массив для инициализации dropdown
  options.rows[0].text - текст строки
  options.rows[0].counter - значение счётчика этой строки
  options.rows[0].countables - массив, содержащий три формы rows[0].text
mixin find-number(options = {})
  - const { rows = [] } = options;

  form.find-number
    h2.find-number__title Найдём номера под ваши пожелания
    .find-number__datepicker
      +dropdown({ 
        title: ['прибытие', 'выезд'],
        placeholder: ['ДД.ММ.ГГГГ', 'ДД.ММ.ГГГГ'], 
        type: 'datepicker',
        isRange: true,
        isSplit: true
      })
    .find-number__guests-dropdown
      +dropdown({ 
        title: 'гости',
        placeholder: 'Сколько гостей',
        rows,
        maxLen: 30, 
        type: 'summator',
        countables: ['гость', 'гостя', 'гостей'],
        hasControls: true,
      })
    .find-number__find-button
      +button({ text: 'подобрать номер', type: 'arrow', href: 'search-room' })
