include ../dropdown/dropdown
include ../button/button

mixin find-number()
  -
    const rows = [
      { text: 'взрослые', counter: 0 },
      { text: 'дети', counter: 0 },
      { text: 'младенцы', counter: 0 },
    ];

  form.find-number
    h2.find-number__title Найдём номера под ваши пожелания
    +dropdown({ 
      title: ['прибытие', 'выезд'], placeholder: ['ДД.ММ.ГГГГ', 'ДД.ММ.ГГГГ'], 
      type: 'datepicker', isRange: true, isSplit: true
    })
    +dropdown({ 
      title: 'гости', placeholder: 'Сколько гостей', rows, maxLen: 30, 
      type: 'summator', countables: ['гость', 'гостя', 'гостей'], hasControls: true,
    })
    +button({ mix: 'find-number__find-button', text: 'подобрать номер', type: 'arrow' })
