@import '../../styles/variables';

.find-number {
  @extend %form;

  display: grid;
  grid-row-gap: 1.3125rem;
  max-width: 23.75rem;

  &__title {
    @extend %title;
  }

  &__find-button {
    margin-top: 0.625rem;
  }
}
