include ../dropdown/dropdown
include ../button/button

//- options:
//-   title - строка заголовка формы
mixin find-number(options)
  if !options
    - options = {};
  -
    const { title = '' } = options;
    const rows = [
      { text: 'взрослые', counter: 0 },
      { text: 'дети', counter: 0 },
      { text: 'младенцы', counter: 0 },
    ];

  form.find-number
    .find-number__row
      h2.find-number__title= title
    .find-number__row
      +dropdown({ title: ['прибытие', 'выезд'], placeholder: ['ДД.ММ.ГГГГ', 'ДД.ММ.ГГГГ'], type: 'datepicker', isRange: true, isSplit: true})
    .find-number__row
      +dropdown({ title: 'гости', placeholder: 'Сколько гостей', rows, maxLen: 30, type: 'summator', countables: ['гость', 'гостя', 'гостей'] })
    .find-number__row
      +button({ text: 'подобрать номер', type: 'arrow' })
