include ../dropdown/dropdown
include ../datepicker/datepicker
include ../button/button

mixin find-number(options = {})
  -
    const {
      rows = [],
      title = 'Найдём номера под ваши пожелания',
    } = options;

  form.find-number
    h2.find-number__title= title

    .find-number__datepicker
      +datepicker({
        title: ['прибытие', 'выезд'],
        placeholder: ['ДД.ММ.ГГГГ', 'ДД.ММ.ГГГГ'], 
        isRange: true,
        isSplit: true,
      })

    .find-number__guests-dropdown
      +dropdown({
        title: 'гости',
        placeholder: 'Сколько гостей',
        rows,
        maxLen: 30, 
        type: 'summator',
        countables: ['гость', 'гостя', 'гостей'],
        hasControls: true,
      })

    .find-number__find-button
      +button({ text: 'подобрать номер', type: 'arrow', href: 'search-room.html' })
