//-
  options.mix - класс, который будет добавлен к компоненту
  options.text - текст кнопки
  options.type - тип кнопки: 'default' | 'border' | 'fill' | 'arrow'
  options.htmlType - html type свойство: 'button' | 'submit' | 'reset', по умолчанию 'button'
mixin button(options)
  if !options
    - options = {};
  -
    const { mix, text = 'click me', type = 'default', htmlType = 'button' } = options;
    const classes = [];

    if (mix !== undefined) {
      classes.push(mix);
    }

    if (type === 'border') classes.push('button_bordered');
    else if (type === 'fill') classes.push('button_filled');
    else if (type === 'arrow') classes.push('button_arrow');

  button.button(class = classes type = htmlType)= text
