//-
  options.text - текст кнопки
  options.type - тип отображения кнопки: 'default' | 'border' | 'fill' | 'arrow'
  options.href - если указано, то кнопка будет ссылкой
  options.size - размер кнопки: 'default' | 'small'
  options.htmlType - html type свойство: 'button' | 'submit' | 'reset', по умолчанию 'button'
  options.isHovered - если true, то кнопка будет всегда hovered
mixin button(options = {})
  -
    const {
      text = 'click me',
      type = 'default',
      href,
      size = 'default',
      htmlType = 'button',
      isHovered = false
    } = options;

    const classes = [];
    if (isHovered) classes.push('button_hovered');
    if (size === 'default' && type !== 'default') classes.push('button_size_default');
    else if (size === 'small') classes.push('button_size_small');
    if (type === 'border') classes.push('button_bordered');
    else if (type === 'fill') classes.push('button_filled');
    else if (type === 'arrow') classes.push('button_arrowed');

  if href
    a.button(class = classes href = `${href}.html`)= text
  else
    button.button(class = classes type = htmlType)= text
