@import '../../styles/variables.scss';
@import '../../styles/fonts.scss';

.button {
  @extend %label;
  box-sizing: border-box;
  text-decoration: none;
  text-align: center;
  user-select: none;
  cursor: pointer;
  border: none;
  background-color: transparent;
  color: $purple;

  &:hover {
    color: rgba($dark, .5);
  }

  &_size- {
    &default {
      padding: 14px 20px 15px 20px;
      
      &.button_bordered {
        padding: 12px 18px 13px 18px;
      }
    }

    &small {
      padding: 9px 20px 10px 20px;

      &.button_bordered {
        padding: 7px 18px 8px 18px;
      }
    }
  }

  &_bordered {
    border: double 2px transparent;
    border-radius: 22px;
    background-image: linear-gradient(white, white), $primary-gradient;
    background-origin: border-box;
    background-clip: padding-box, border-box;

    &:hover {
      color: $purple;    
      background-image: linear-gradient(white, white), linear-gradient(180deg, rgba(#bb9cff, .5) 0%, rgba(#8ba5f9, .5) 100%);
    }
  }

  &_filled,
  &_arrow {
    border-radius: 22px;
    background: $primary-gradient;
    color: white;

    &:hover {
      color: white;
      opacity: .5;
    }
  }

  &_arrow {
    position: relative;
    width: 100%;

    &::after {
      @extend %material-icons;
      content: 'arrow_forward';
      display: block;
      position: absolute;
      top: 10px;
      right: 10px;
    }
  }
}
