//- options:
//-   text - текст кнопки
//-   type - тип кнопки, допустимые значения: 'default' | 'border' | 'fill' | 'arrow'
//-     'default' | undefined -  текстовая кнопка, без каких-либо примечательностей
//-     'border' -  кнопка с рамкой
//-     'fill' - кнопка с заливкой
//-     'arrow' - кнопка со стрелкой
mixin button(options)
  if !options
    - options = {};
  -
    const { text = 'click me', type = 'default' } = options;
    const classes = [];

    if (type === 'border') classes.push('button_bordered');
    else if (type === 'fill') classes.push('button_filled');
    else if (type === 'arrow') classes.push('button_arrow');
  
  .button(class = classes)= text
