@import '../../styles/variables.scss';
@import '../../styles/fonts.scss';

.button {
  @extend %label;
  box-sizing: border-box;
  display: inline-block;
  text-align: center;
  align-items: center;
  user-select: none;
  cursor: pointer;
  border: none;
  background-color: transparent;
  color: $purple;

  &:hover {
    color: rgba($dark, .5);
  }

  &_bordered, &_filled, &_arrow {
    height: 44px;
    min-width: 99px;
  }

  &_bordered {
    border: double 2px transparent;
    border-radius: 22px;
    background-image: linear-gradient(white, white), $primary-gradient;
    background-origin: border-box;
    background-clip: padding-box, border-box;

    &:hover {
      color: $purple;    
      background-image: linear-gradient(white, white), linear-gradient(180deg, rgba(#bb9cff, .5) 0%, rgba(#8ba5f9, .5) 100%);
    }
  }

  &_filled, &_arrow {
    border-radius: 22px;
    background: $primary-gradient;
    color: white;

    &:hover {
      color: white;
      opacity: .5;
    }
  }

  &_arrow {
    position: relative;
    width: 100%;

    &::after {
      @extend %material-icons;
      content: 'arrow_forward';
      display: block;
      position: absolute;
      top: 10px;
      right: 10px;
    }
  }
}