mixin menu(options = {})
  -
    const { isSubmenu = false, items = [], icon = 'expand_more' } = options;
    const menuClass = (isSubmenu) ? 'menu__submenu' : 'menu';
    const itemClass = (isSubmenu) ? 'menu__subitem' : 'menu__item';
  
  ul(class = menuClass)
    each item in items
      li(class = itemClass)
        a.menu__link(
          class = (item.isBold) ? 'menu__link_bold' : null
          href = `${item.href}.html`
        )= item.text
          if item.submenu
            span.menu__expand-more= icon

        if item.submenu
          +menu({ isSubmenu: true, items: item.submenu })
