//- options:
//-   isChecked - если true, то кнопка будет в состоянии checked, т.е. лайк уже поставлен
//-   counter - количество лайков
mixin like-button(options)
  if !options
    - options = {};
  -
    const { isChecked = false, counter = 0 } = options;
    const icon = (isChecked) ? 'favorite' : 'favorite_border';

  .like-button.js-like-button(class = (isChecked) ? 'like-button_liked' : null)
    .like-button__icon.js-like-button__icon= icon
    .like-button__counter.js-like-button__counter= counter
