mixin like-button(options = {})
  -
    const {
      isLiked = false,
      counter = 0
    } = options;

    const icon = (isLiked) ? 'favorite' : 'favorite_border';

    const classes = [];
    if (isLiked) classes.push('like-button_liked');

  button.like-button.js-like-button(class = classes type = "button")
    .like-button__icon.js-like-button__icon= icon
    .like-button__counter.js-like-button__counter= counter
