@import '../../styles/variables';

.like-button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  user-select: none;
  min-width: 2.5rem;
  min-height: 1.25rem;
  border-radius: 1.25rem;
  border: $border-width solid rgba($dark, 25%);
  padding: 0 0.25rem;

  $class: &;

  &__counter {
    @extend %default-text;

    flex-grow: 1;
    font-size: 0.625rem;
    line-height: 0.7619rem;
    text-align: center;
    color: rgba($dark, 25%);
  }

  &__icon {
    @extend %material-icons;

    font-size: 0.625rem;
    flex-grow: 0;
    color: rgba($dark, 25%);
  }

  &_liked {
    border-color: $purple;

    #{$class}__counter,
    #{$class}__icon {
      color: $purple;
    }
  }
}
