extends ../../page-layouts/page-base/page-base

include ../../components/header/header
include ../../components/footer/footer
include ../../components/dropdown/dropdown
include ../../components/datepicker/datepicker
include ../../components/range-slider/range-slider
include ../../components/checkbox/checkbox
include ../../components/checkbox-list/checkbox-list
include ../../components/room-thumbnail/room-thumbnail
include ../../components/pagination/pagination

append variables
  -
    const title = 'Search room';
    const description = 'Отель Toxin, здесь вы можете подобрать себе номер в отеле по вкусу!';
    const keywords = 'Toxin, Main, снять номер, поиск номера, снять жильё, подобрать номер';
    const {
      header,
      footer,
      filter,
      numbers,
      pagination,
      titles,
    } = htmlWebpackPlugin.options.getData();

    // получение ссылок на изображения в собранном проекте
    numbers.forEach((number) => {
      number.images.forEach((image) => {
        image.path = require(`./img/${image.path}`);
      });
    });

append header
  +header(header)
  
append main
  .search-room
    .search-room__content
      .search-room__filter
        .search-room__dropdowns
          +datepicker(filter.dates)
          +dropdown(filter.guests)

        +range-slider(filter.priceRange)

        .search-room__house-rules
          .search-room__list-title= titles.rules
          .search-room__house-rules-list
            each rule in filter.houseRules
              +checkbox(rule)

        .search-room__availability
          .search-room__list-title= titles.availability
          .search-room__availability-list
            each reach in filter.reaches
              +checkbox(reach)

        +dropdown(filter.comfort)
        +checkbox-list(filter.additionalComfort)

      .search-room__numbers-page
        h1.search-room__title= titles.numbers

        .search-room__numbers
          each number in numbers
            +room-thumbnail(number)

        .search-room__pagination
          +pagination(pagination)

append footer
  +footer(footer)
