@import '../../styles/variables';

.room-thumbnail {
  width: 100%;
  background-color: $background;
  border-radius: 0.25rem;
  overflow: hidden;
  box-shadow: $tiny-shadow;

  $class: &;

  &__carousel {
    position: relative;
    width: 100%;
    overflow: hidden;
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-rows: minmax(9.5rem, 100%);
    margin: 0;

    &:hover,
    &_hovered {
      #{$class}__prev,
      #{$class}__next {
        display: flex;
      }
    }
  }

  &__image {
    grid-column: 1 / 4;
    grid-row: 1 / 1;
    display: none;
    width: 100%;
    height: 9.4375rem;
    object-fit: cover;
    z-index: 0;

    &_selected {
      display: block;
    }
  }

  &__prev,
  &__next {
    z-index: 1;
    height: 100%;
    user-select: none;
    cursor: pointer;
    display: none;
    align-items: center;
    justify-content: center;
  }

  &__icon {
    @extend %material-icons;

    font-size: 1.5rem;
    color: white;
  }

  &__prev {
    grid-column: 1 / 2;
    grid-row: 1 / 1;
    background: linear-gradient(90deg, rgba(black, 0.5) 0%, rgba(black, 0) 99.99%, rgba(white, 0) 100%);

    #{$class}__icon {
      transform: rotate(90deg);
    }
  }

  &__next {
    grid-column: 3 / 4;
    grid-row: 1 / 1;
    background: linear-gradient(-90deg, rgba(black, 0.5) 0%, rgba(black, 0) 99.99%, rgba(white, 0) 100%);

    #{$class}__icon {
      transform: rotate(-90deg);
    }
  }

  &__buttons {
    display: flex;
    position: absolute;
    right: 0.9375rem;
    bottom: 0.9375rem;
    z-index: 2;
  }

  &__button {
    box-sizing: border-box;
    width: 0.4688rem;
    height: 0.4688rem;
    border: $border-width solid white;
    border-radius: 50%;
    cursor: pointer;

    &:not(:last-of-type) {
      margin-right: 0.2188rem;
    }

    &_selected {
      background-color: white;
    }
  }

  &__info {
    padding: 1.1875rem;
  }

  &__row {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &:not(:last-child) {
      padding-bottom: 0.625rem;
      margin-bottom: 0.5rem;
      border-bottom: $border-width solid rgba($dark, 10%);
    }
  }

  &__number-info {
    text-decoration: none;
  }

  &__n {
    @extend %item-title;

    font-size: 0.875rem;
    line-height: 1.0625rem;
  }

  &__number {
    @extend %item-title;

    line-height: 1rem;
  }

  &__type {
    @extend %label;

    color: $purple;
    display: inline-block;
    margin-left: 0.5rem;
  }

  &__price,
  &__reviews {
    @extend %default-text;

    color: rgba($dark, 50%);
  }

  &__price-per-day {
    font-size: 0.75rem;
  }
}
