@import '../../styles/variables.scss';
@import '../../styles/fonts.scss';

.room-thumbnail {
  width: 100%;
  background-color: white;
  border-radius: 4px;
  overflow: hidden;

  &__carousel {
    position: relative;
    width: 100%;
    overflow: hidden;
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-rows: minmax(9.5rem, 100%);
    margin: 0;

    &:hover, &_hovered {
      .room-thumbnail__prev, .room-thumbnail__next {
        display: flex;
      }
    }
  }

  &__image {
    grid-column: 1 / 4;
    grid-row: 1 / 1;
    display: none;
    width: 100%;
    z-index: 0;

    &_selected {
      display: block;
    }
  }

  &__prev,
  &__next {
    z-index: 1;
    height: 100%;
    user-select: none;
    cursor: pointer;
    display: none;
    align-items: center;
    justify-content: center;

    &__icon {
      @extend %material-icons;
      font-size: 24px;
      color: white;
    }
  }

  &__prev {
    grid-column: 1 / 2;
    grid-row: 1 / 1;
    background: linear-gradient(90deg, rgba(black, 0.5) 0%, rgba(black, 0) 99.99%, rgba(white, 0) 100%);

    &__icon {
      transform: rotate(90deg);
    }
  }

  &__next {
    grid-column: 3 / 4;
    grid-row: 1 / 1;
    background: linear-gradient(-90deg, rgba(black, 0.5) 0%, rgba(black, 0) 99.99%, rgba(white, 0) 100%);

    &__icon {
      transform: rotate(-90deg);
    }
  }

  &__buttons {
    display: flex;
    position: absolute;
    right: 15px;
    bottom: 15px;
    z-index: 2;
  }

  &__button {
    box-sizing: border-box;
    width: 7.5px;
    height: 7.5px;
    border: 1px solid white;
    border-radius: 50%;
    cursor: pointer;

    &:not(:last-of-type) {
      margin-right: 3.5px;
    }

    &_selected {
      background-color: white;
    }
  }

  &__info {
    padding: 19px;
  }

  &__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__number-info {
    text-decoration: none;
  }

  &__price-per-day,
  &__reviews {
    @extend %default-text;
    color: rgba($dark, .5);
  }

  &__number-info,
  &__price-per-day {   
    display: flex;
    align-items: baseline;
  }

  &__n {
    @extend %item-title;
    font-size: .875rem;
    line-height: 1.0625rem;
  }

  &__number {
    @extend %item-title;
  }

  &__type {
    @extend %label;
    color: $purple;
    display: inline-block;
    margin-left: 1px;
  }

  &__underline {
    border: none;
    border-top: 1px solid rgba($dark, .1);
    margin: 0;
    margin-top: 10px;
    margin-bottom: 8px;
  }
}
