//-
  options.text - текст кнопки
  options.isChecked - checked свойство кнопки
mixin toggle-button(options = {})
  - const { text = '', isChecked = false } = options;

  label.toggle-button
    input.toggle-button__input(type = 'checkbox' checked = isChecked)
    span.toggle-button__mark
    span.toggle-button__text= text
