@import '../../styles/variables';

.toggle-button {
  $class: &;
  $marker-width: 2.5rem;
  $marker-height: 1.25rem;
  $center-size: 0.75rem;

  &__label {
    display: inline-flex;
    vertical-align: top;
    user-select: none;
    cursor: pointer;
  }

  &__input {
    width: 0;
    height: 0;
    position: absolute;

    &:checked {
      ~ #{$class}__mark {
        border-color: $purple;

        &::after {
          left: 1.4375rem;
          background-image: $primary-gradient;
        }
      }
    }
  }

  &__mark {
    flex-shrink: 0;
    height: $marker-height;
    width: $marker-width;
    border: $border-width solid rgba($dark, 25%);
    border-radius: $marker-height;

    &::after {
      content: '';
      position: relative;
      display: block;
      left: 0.1875rem;
      top: 0.1875rem;
      width: $center-size;
      height: $center-size;
      border-radius: 50%;
      background-color: rgba($dark, 25%);
    }
  }

  &__text {
    @extend %default-text;

    line-height: 1.5rem;
    margin-left: 0.625rem;
    position: relative;
    bottom: 0.25rem;
  }
}
