@import '../../styles/variables';

.color-sample {
  @extend %item-title;

  display: flex;
  justify-content: left;
  align-items: center;
  color: $dark;

  &__box {
    width: 70px;
    height: 70px;
    border-radius: 6px;

    &_theme {
      &-dark-100 {
        background-color: $dark;
      }

      &-dark-75 {
        background-color: rgba($dark, 75%);
      }

      &-dark-50 {
        background-color: rgba($dark, 50%);
      }

      &-dark-25 {
        background-color: rgba($dark, 25%);
      }

      &-dark-5 {
        background-color: rgba($dark, 5%);
      }

      &-purple {
        background-color: $purple;
      }

      &-green {
        background-color: $green;
      }
    }
  }

  &__text {
    margin-left: 40px;
  }

  &__name {
    text-transform: capitalize;
    font-weight: bold;
    margin-bottom: 5px;
  }

  &__code {
    text-transform: uppercase;
    font-weight: normal;
  }
}
