//-
  options.theme - тема компонента: 'dark-100' | 'dark-75' | 'dark-50' | 'dark-25' | 'dark-5' | 'purple' | 'green'
  options.name - название цвета (например, 'Dark Shade 100%')
  options.code - код цвета (например, '#1f2041') 
mixin color-sample(options = {})
  -
    const {
      theme = 'dark-100',
      name = '',
      code = ''
    } = options;
    const boxTheme = `color-sample__box_theme_${theme}`;

  .color-sample
    .color-sample__box(class = boxTheme)
    .color-sample__text 
      .color-sample__name= name
      .color-sample__code= code
