@import '../../styles/variables.scss';
@import '../../styles/fonts.scss';

.color-sample {
  font-family: 'Montserrat', Helvetica, Arial, sans-serif;
  font-size: 1.1875rem;
  display: flex;
  justify-content: left;
  align-items: center;
  color: $dark;

  &__box {
    width: 70px;
    height: 70px;
    border-radius: 6px;
    
    &_dark-100 {
      background-color: $dark;
    }
    
    &_dark-75 {
      background-color: rgba($dark, .75);
    }
    
    &_dark-50 {
      background-color: rgba($dark, .5);
    }
    
    &_dark-25 {
      background-color: rgba($dark, .25);
    }
    
    &_dark-5 {
      background-color: rgba($dark, .05);
    }
    
    &_purple {
      background-color: $purple;
    }
    
    &_green {
      background-color: $green;
    }
  }

  &__text {
    margin-left: 40px;
  }

  &__name {
    text-transform: capitalize;
    font-weight: bold;
    margin-bottom: 5px;
  }

  &__code {
    text-transform: uppercase;
    font-weight: normal;
  }
}
