mixin color-sample(options = {})
  -
    const {
      theme = 'dark-100',
      name = '',
      code = ''
    } = options;
    const boxTheme = `color-sample__box_theme_${theme}`;

  .color-sample
    .color-sample__box(class = boxTheme)
    .color-sample__text 
      .color-sample__name= name
      .color-sample__code= code
