@import '../../styles/variables';

.color-sample {
  @extend %item-title;

  display: flex;
  justify-content: left;
  align-items: center;
  color: $dark;

  $box-size: 4.375rem;
  $box-radius: 0.375rem;

  &__box {
    width: $box-size;
    height: $box-size;
    border-radius: $box-radius;

    &_theme {
      &-dark-100 {
        background-color: $dark;
      }

      &-dark-75 {
        background-color: rgba($dark, 75%);
      }

      &-dark-50 {
        background-color: rgba($dark, 50%);
      }

      &-dark-25 {
        background-color: rgba($dark, 25%);
      }

      &-dark-5 {
        background-color: rgba($dark, 5%);
      }

      &-purple {
        background-color: $purple;
      }

      &-green {
        background-color: $green;
      }
    }
  }

  &__text {
    margin-left: 0.4rem;
  }

  &__name {
    text-transform: capitalize;
    font-weight: bold;
    margin-bottom: 0.3125rem;
  }

  &__code {
    text-transform: uppercase;
    font-weight: normal;
  }
}
