//-
  options.theme - тема компонента: 'title' | 'item-title' | 'label' | 'default-text'
  options.tag - название тэга (например, 'H1')
  options.text - текст для примера отображения
mixin text-probe(options)
  if !options
    - options = {};
  -
    const { theme = 'title', tag = '', text = '' } = options;
  
  .text-probe(class = `text-probe_theme-${theme}`)
    .text-probe__tag= tag
    .text-probe__text= text
