@import '../../styles/variables.scss';
@import '../../styles/fonts.scss';

.text-probe {
  display: table-row;

  &__tag {
    display: table-cell;
    text-align: right;
    text-transform: capitalize;
  }

  &__text {
    display: table-cell;
    padding-left: 30px;
  }
}

@mixin text-probe_theme($theme) {
  .text-probe_theme-#{$theme} {
    @if $theme == 'title' {
      @extend %title;
    } 
    @else if  $theme == 'item-title' {
      @extend %item-title;
    } 
    @else if  $theme == 'label' {
      @extend %label;
    } 
    @else if  $theme == 'default-text' {
      @extend %default-text;
    }
    
    .text-probe__tag {
      font-weight: normal;
      color: rgba($dark, .25);
    }
  }
}

@include text-probe_theme('title');
@include text-probe_theme('item-title');
@include text-probe_theme('label');
@include text-probe_theme('default-text');
