extends ../page-base/page-base

include ../../components/header/header
include ../../components/footer/footer

append variables
  -
    const title = 'Error Page';
    const { header, footer, message } = htmlWebpackPlugin.options.getData();

append header
  +header(header)

append main
  .error-page
    h1.error-page__message= message

append footer
  +footer(footer)
