extends ../../page-layouts/page-base/page-base

include ../../components/header/header
include ../../components/footer/footer

append variables
  -
    const title = 'Error Page';
    const description = 'Error Page, вы находитесь здесь, потому что контент, который вы ищите не был создан';
    const keywords = 'Toxin, Error Page, не найдено, 404';
    const { header, footer, message } = htmlWebpackPlugin.options.getData();

append header
  +header(header)

append main
  .error-page
    h1.error-page__message= message

append footer
  +footer(footer)
