extends ../base/base

block variables
  -
    const title = 'Error';

block header

block main
  h1(style='color: red;') Это страница с ошибкой! Контент который вы ищите еще не был создан.

block footer
