//-
  options.min - минимальное значение в слайдере
  options.max - максимальное значение в слайдере
  options.values - массив из двух чисел, отвечает за предвыбор в слайдере
  options.text - строка заголовка слайдера
  options.note - строка заметки слайдера
  options.postfix - валютный постфикс
mixin range-slider(options = {})
  -
    const {
      min,
      max,
      step = 0.1,
      values = [],
      text = '',
      note = '',
      postfix = ''
    } = options;

    if (!values.length) {
      values.push(min, max);
    }

    const leftValue = (((values[0] - min) / (max - min))) * 100;
    const rightValue = (((values[1] - min) / (max - min))) * 100;

  .range-slider.js-range-slider(data-postfix = postfix, data-min = min, data-max = max)
    .range-slider__info
      .range-slider__text= text
      .range-slider__output.js-range-slider__output
    .range-slider__slider
      input.range-slider__input.js-range-slider__input(
        type = 'range'
        min = 0
        max = 100
        value = leftValue
        step = step
      )
      input.range-slider__input.js-range-slider__input(
        type = 'range'
        min = 0
        max = 100
        value = rightValue
        step = step
      )
      .range-slider__track
        .range-slider__progress.js-range-slider__progress
      .range-slider__thumb.js-range-slider__thumb
      .range-slider__thumb.js-range-slider__thumb
    .range-slider__note= note
