mixin range-slider(options = {})
  -
    const {
      min,
      max,
      step = 1,
      values = [],
      text = '',
      note = '',
      postfix = ''
    } = options;

    if (!values.length) {
      values.push(min, max);
    }

  .range-slider.js-range-slider(
    data-postfix = postfix
    data-min = min
    data-max = max
    data-step = step
    data-from = values[0]
    data-to = values[1]
  )
    .range-slider__info
      .range-slider__text= text
      .range-slider__output.js-range-slider__output

    .range-slider__slider
      .range-slider__track.js-range-slider__track
        .range-slider__progress.js-range-slider__progress
        .range-slider__thumb.js-range-slider__thumb
        .range-slider__thumb.js-range-slider__thumb

    if note
      .range-slider__note= note
