//- options
//-   min - минимальное значение в слайдере
//-   max - максимальное значение в слайдере
//-   values - массив из двух чисел, отвечает за предвыбор в слайдере
//-   text - строка заголовка слайдера
//-   postfix - строка, которая будет выведена после после подсчитанного слайдером значения 
//-     (Например 1000Р - 2000Р, Р это postfix)
mixin range-slider(options)
  if !options
    - options = {};
  -
    let { min, max, step = 0.1, values, text = '', postfix = '' } = options;
    if (!values) {
      values = [min, max];
    }
    const leftRange = (((values[0] - min) / (max - min))) * 100;
    const rightRange = (((values[1] - min) / (max - min))) * 100;
  
  .range-slider.js-range-slider(data-postfix = postfix, data-min = min, data-max = max)
    .range-slider__info
      .range-slider__text= text
      .range-slider__output
    .range-slider__slider
      input.range-slider__range(type = 'range' min = 0 max = 100 value = leftRange step = step)
      input.range-slider__range(type = 'range' min = 0 max = 100 value = rightRange step = step)
      .range-slider__track
        .range-slider__track-inner
      .range-slider__thumb
      .range-slider__thumb
