@import '../../styles/variables';
@import '../../styles/mixins';

.form-elements {
  padding: 8.9375rem 8.8125rem 8.1875rem 8.75rem;

  $big-width: 23.25rem;
  $width: 20rem;
  $short-width: 16.625rem;
  $small-width: 13.875rem;
  $row-gap: 6.25rem;

  &__row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    &:not(:last-child) {
      margin-bottom: $row-gap;
    }

    &_height {
      &_221 {
        height: 13.8125rem;
      }

      &_269 {
        height: 16.8125rem;
      }
    }
  }

  &__column {
    &_number {
      &_1 {
        min-width: $width;
        width: 38.44%;
      }

      &_2 {
        min-width: $width;
        width: 33.79%;
      }

      &_3 {
        min-width: $width;
        width: 27.77%;
      }

      &_2-3 {
        min-width: $width;
        width: 61.56%;
      }
    }
  }

  &__wrapper {
    @include flex-layout(column, 2.5rem, $width);

    &_width {
      &_big {
        max-width: $big-width;
      }

      &_short {
        max-width: $short-width;
      }

      &_small {
        max-width: $small-width;
      }
    }
  }

  &__text-inputs {
    @include flex-layout(column, 1.25rem);
  }

  &__masked-text-field {
    margin-top: 0.1875rem;
  }

  &__bottom-text-inputs {
    @include flex-layout(column, 2.5625rem, $short-width);
  }

  &__title {
    @extend %label;

    margin-bottom: 1rem;
  }

  &__checkboxes-list {
    @include flex-layout(column, 0.625rem, $small-width);
  }

  &__radio-buttons-list {
    @include flex-layout(row, 1.25rem, $small-width);
  }

  &__toggle-buttons-list {
    @include flex-layout(column, 0.625rem);
  }

  &__like-buttons-list {
    @include flex-layout(row, 0.625rem);
  }

  &__rate-buttons-list,
  &__buttons-row {
    @include flex-layout(row, 1.25rem);
  }

  &__buttons-list {
    @include flex-layout(column, 1.875rem, $small-width);

    margin-bottom: 1.875rem;
  }

  &__dropdowns,
  &__advantages {
    @include flex-layout(column, 1.25rem, $short-width);
  }

  &__checkbox-lists {
    @include flex-layout(column, 3.0625rem, $short-width);
  }

  &__relative-wrapper {
    position: relative;
    width: 100%;
  }

  &__absolute-child {
    position: absolute;
    width: 100%;
  }

  &__rich-checkboxes-list {
    @include flex-layout(column, 0.625rem, $short-width);
  }

  &__bullet-list {
    max-width: $short-width;
  }

  &__comment {
    margin-top: 0.625rem;
  }
}
