@import '../../styles/variables';

.form-elements {
  padding: 8.9375rem 8.8125rem 8.1875rem 8.75rem;

  $width: 20rem;
  $row-gap: 6.25rem;

  &__row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    &:not(:last-child) {
      margin-bottom: $row-gap;
    }
  }

  &__column {
    display: flex;
    flex-direction: column;

    &_main {
      &_1 {
        min-width: $width;
        width: 38.44%;
      }

      &_2 {
        min-width: $width;
        width: 33.79%;
      }

      &_3 {
        min-width: $width;
        width: 27.77%;
      }

      &_2-3 {
        min-width: $width;
        width: 61.56%;
      }
    }
  }

  &__title {
    @extend %label;

    margin-bottom: 1rem;
  }

  &__relative-wrapper {
    position: relative;
    width: 100%;
  }

  &__absolute-child {
    position: absolute;
    width: 100%;
  }
}
