extends ../../page-layouts/ui-kit-base/ui-kit-base

include ../../components/text-field/text-field
include ../../components/dropdown/dropdown
include ../../components/checkbox/checkbox
include ../../components/button/button
include ../../components/radio-button/radio-button
include ../../components/toggle-button/toggle-button
include ../../components/like-button/like-button
include ../../components/rate-button/rate-button
include ../../components/range-slider/range-slider
include ../../components/pagination/pagination
include ../../components/checkbox-list/checkbox-list
include ../../components/bullet-list/bullet-list
include ../../components/advantage/advantage
include ../../components/comment/comment
include ../../components/box-layout/box-layout

append variables
  -
    const title = 'Form Elements';
    const description = 'Form Elements, здесь отображены различные компоненты используемые в Toxin.';
    const keywords = 'Toxin, Form Elements, UI-Kit, dropdown, checkbox, button, pagination, comment';
    const {
      textFields,
      dropdowns,
      checkboxes,
      radioButtons,
      toggleButtons,
      likeButtons,
      rateButtons,
      rangeSlider,
      buttons,
      pagination,
      checkboxLists,
      bulletList,
      advantageList,
      comment,
    } = htmlWebpackPlugin.options.getData();

    // получение ссылок на изображения в собранном проекте
    comment.image = require(`./img/${comment.image}`);

block main
  .form-elements
    .form-elements__row
      .form-elements__column.form-elements__column_main_1
        +box-layout({ direction: 'column', gap: 40, wrapper: 'normal' })
          +box-layout({ direction: 'column', gap: 20 })
            +text-field(textFields.default)
            +text-field(textFields.hover)
            +dropdown(dropdowns.summator.default)
            +text-field(textFields.masked)
          +dropdown(dropdowns.datepicker.splitRange)
          +box-layout({ direction: 'column', gap: 40, wrapper: 'short' })
            +dropdown(dropdowns.datepicker.filter)
            +text-field(textFields.subscription)
      .form-elements__column.form-elements__column_main_2
        +box-layout({ direction: 'column', gap: 40, wrapper: 'short' })
          +box-layout({ direction: 'column' })
            .form-elements__title checkbox buttons
            +box-layout({ direction: 'column', gap: 10 })
              each checkbox in checkboxes.defaultList
                +checkbox(checkbox)
          +box-layout({ direction: 'column' })
            .form-elements__title radio buttons
            +box-layout({ direction: 'row', gap: 20 })
              +radio-button(radioButtons.man)
              +radio-button(radioButtons.woman)
          +box-layout({ direction: 'column' })
            .form-elements__title toggle
            +box-layout({ direction: 'column', gap: 10 })
              +toggle-button(toggleButtons.checked)
              +toggle-button(toggleButtons.unchecked)
          +box-layout({ direction: 'column' })
            .form-elements__title like Button
            +box-layout({ direction: 'row', gap: 10 })
              +like-button(likeButtons.unliked)
              +like-button(likeButtons.liked)
          +box-layout({ direction: 'column' })
            .form-elements__title rate button
            +box-layout({ direction: 'row', gap: 20 })
              +rate-button(rateButtons.four)
              +rate-button(rateButtons.five)
      .form-elements__column.form-elements__column_main_3
        +box-layout({ direction: 'column', gap: 40, wrapper: 'normal' })
          +box-layout({ direction: 'column', wrapper: 'short' })
            +range-slider(rangeSlider)
          +box-layout({ direction: 'column', gap: 30 })
            +box-layout({ direction: 'column', wrapper: 'small' })
              .form-elements__title Buttons
              +box-layout({ direction: 'column', gap: 30 })
                +box-layout({ direction: 'row', gap: 20 })
                  +button(buttons.fill.default)
                  +button(buttons.fill.hovered)
                +box-layout({ direction: 'row', gap: 20 })
                  +button(buttons.border.default)
                  +button(buttons.border.hovered)
                +box-layout({ direction: 'row', gap: 20 })
                  +button(buttons.default.default)
                  +button(buttons.default.hovered)
            +button(buttons.arrow)
          +box-layout({ direction: 'column' })
            .form-elements__title pagination
            +pagination(pagination)
    .form-elements__row
      .form-elements__column.form-elements__column_main_1
        +box-layout({ direction: 'column', gap: 20, wrapper: 'short' })
          +dropdown(dropdowns.default.default)
          .form-elements__relative-wrapper
            .form-elements__absolute-child
              +dropdown(dropdowns.default.expanded)
      .form-elements__column.form-elements__column_main_2
        +box-layout({ direction: 'column', wrapper: 'normal' })
          +dropdown(dropdowns.summator.expanded.hasNoGuests)
      .form-elements__column.form-elements__column_main_3
        +box-layout({ direction: 'column', wrapper: 'normal' })
          +dropdown(dropdowns.summator.expanded.hasGuests)
    .form-elements__row
      .form-elements__column.form-elements__column_main_1
        +box-layout({ direction: 'column', gap: 20, wrapper: 'short' })
          +checkbox-list(checkboxLists.default)
          +checkbox-list(checkboxLists.expanded)
      .form-elements__column.form-elements__column_main_2
        +box-layout({ direction: 'column', wrapper: 'normal' })
          .form-elements__title rich checkbox buttons
          +box-layout({ direction: 'column', gap: 10, wrapper: 'short'})
            each rich in checkboxes.richList
              +checkbox(rich)
      .form-elements__column.form-elements__column_main_3
        +box-layout({ direction: 'column', wrapper: 'normal' })
          .form-elements__title bullet list
          +box-layout({ direction: 'column', wrapper: 'short' })
            +bullet-list(bulletList)
    .form-elements__row
      .form-elements__column.form-elements__column_main_1
        +box-layout({ direction: 'column', gap: 20, wrapper: 'short' })
          each advantage in advantageList
            +advantage(advantage)
      .form-elements__column.form-elements__column_main_2-3
        +box-layout({ direction: 'column' })
          +comment(comment)
