extends ../../page-layouts/ui-kit-base/ui-kit-base

include ../../components/text-field/text-field
include ../../components/dropdown/dropdown
include ../../components/checkbox/checkbox
include ../../components/button/button
include ../../components/radio-button/radio-button
include ../../components/toggle-button/toggle-button
include ../../components/like-button/like-button
include ../../components/rate-button/rate-button
include ../../components/range-slider/range-slider
include ../../components/pagination/pagination
include ../../components/checkbox-list/checkbox-list
include ../../components/bullet-list/bullet-list
include ../../components/advantage/advantage
include ../../components/comment/comment
include ../../components/state-info/state-info

append variables
  -
    const title = 'Form Elements';
    const description = 'Form Elements, здесь отображены различные компоненты используемые в Toxin.';
    const keywords = 'Toxin, Form Elements, UI-Kit, dropdown, checkbox, button, pagination, comment';
    const {
      textFields,
      dropdowns,
      checkboxes,
      radioButtons,
      toggleButtons,
      likeButtons,
      rateButtons,
      rangeSlider,
      buttons,
      pagination,
      checkboxLists,
      bulletList,
      advantageList,
      comment,
    } = htmlWebpackPlugin.options.getData();

    // получение ссылок на изображения в собранном проекте
    comment.image = require(`./img/${comment.image}`);

block main
  .form-elements
    .form-elements__row
      .form-elements__column.form-elements__column_number_1
        .form-elements__wrapper
          .form-elements__text-inputs
            +state-info({ text: 'default' })
              +text-field(textFields.default)
            +state-info({ text: 'hover / focus' })
              +text-field(textFields.hover)
            +dropdown(dropdowns.summator.default)
            .form-elements__masked-text-field
              +text-field(textFields.masked)

          +dropdown(dropdowns.datepicker.splitRange)

          .form-elements__bottom-text-inputs
            +dropdown(dropdowns.datepicker.filter)
            +text-field(textFields.subscription)

      .form-elements__column.form-elements__column_number_2
        .form-elements__wrapper.form-elements__wrapper_width_short
          .form-elements__checkboxes
            .form-elements__title checkbox buttons
            .form-elements__checkboxes-list
              each checkbox in checkboxes.defaultList
                +checkbox(checkbox)

          .form-elements__radio-buttons
            .form-elements__title radio buttons
            .form-elements__radio-buttons-list
              +radio-button(radioButtons.man)
              +radio-button(radioButtons.woman)

          .form-elements__toggle-buttons
            .form-elements__title toggle
            .form-elements__toggle-buttons-list
              +toggle-button(toggleButtons.checked)
              +toggle-button(toggleButtons.unchecked)

          .form-elements__like-buttons
            .form-elements__title like Button
            .form-elements__like-buttons-list
              +like-button(likeButtons.unliked)
              +like-button(likeButtons.liked)

          .form-elements__rate-buttons
            .form-elements__title rate button
            .form-elements__rate-buttons-list
              +rate-button(rateButtons.four)
              +rate-button(rateButtons.five)

      .form-elements__column
        .form-elements__wrapper
          .form-elements__wrapper.form-elements__wrapper_width_short
            +range-slider(rangeSlider)

          .form-elements__buttons
            .form-elements__title Buttons
            .form-elements__buttons-list
              .form-elements__buttons-row
                +button(buttons.fill.default)
                +button(buttons.fill.hovered)
              .form-elements__buttons-row
                +button(buttons.border.default)
                +button(buttons.border.hovered)
              .form-elements__buttons-row
                +button(buttons.default.default)
                +button(buttons.default.hovered)
            +button(buttons.arrow)

          .form-elements__pagination
            .form-elements__title pagination
            +pagination(pagination)

    .form-elements__row.form-elements__row_size_small
      .form-elements__column.form-elements__column_number_1
        .form-elements__dropdowns
          +state-info({ text: 'default' })
            +dropdown(dropdowns.default.default)
          +state-info({ text: 'expanded' })
            +dropdown(dropdowns.default.expanded)

      .form-elements__column.form-elements__column_number_2
        .form-elements__wrapper
          +dropdown(dropdowns.summator.expanded.hasNoGuests)

      .form-elements__column
        .form-elements__wrapper
          +dropdown(dropdowns.summator.expanded.hasGuests)

    .form-elements__row.form-elements__row_size_big
      .form-elements__column.form-elements__column_number_1
        .form-elements__checkbox-lists
          +checkbox-list(checkboxLists.default)
          +checkbox-list(checkboxLists.expanded)

      .form-elements__column.form-elements__column_number_2
        .form-elements__rich-checkboxes
          .form-elements__title rich checkbox buttons
          .form-elements__rich-checkboxes-list
            each rich in checkboxes.richList
              +checkbox(rich)

      .form-elements__column
        .form-elements__bullet-list
          .form-elements__title.form-elements__title_gap_small bullet list
          +bullet-list(bulletList)

    .form-elements__row
      .form-elements__column.form-elements__column_number_1
        .form-elements__advantages
          each advantage in advantageList
            +advantage(advantage)

      .form-elements__column.form-elements__column_number_2-3
        .form-elements__comment
          +comment(comment)
