@mixin font($name, $path-name, $style, $weight, $isBlock: false) {
  $suffix: 'regular';
  $cap-suffix: 'Regular';

  @if $style == bold {
    $suffix: 'bold';
    $cap-suffix: 'Bold';
  }

  @font-face {
    font-family: $name;
    src:
      local($name),
      local('#{$name}-#{$cap-suffix}'),
      url('../assets/fonts/#{$path-name}-#{$suffix}.woff') format('woff'),
      url('../assets/fonts/#{$path-name}-#{$suffix}.ttf') format('truetype'),
      url('../assets/fonts/#{$path-name}-#{$suffix}.svg') format('svg');
    font-style: $style;
    font-weight: $weight;

    @if $isBlock {
      font-display: block;
    }
  }
}

@include font('Montserrat', 'montserrat', normal, 400);
@include font('Montserrat', 'montserrat', bold, 700);
@include font('MaterialIcons', 'material-icons', normal, 400, true);
