@mixin font($name, $style, $weight, $isBlock: false) {
  $suffix: 'Regular';

  @if $style == bold {
    $suffix: 'Bold';
  }

  @font-face {
    font-family: $name;
    src:
      url('../assets/fonts/#{$name}-#{$suffix}.woff') format('woff'),
      url('../assets/fonts/#{$name}-#{$suffix}.ttf') format('truetype'),
      url('../assets/fonts/#{$name}-#{$suffix}.svg') format('svg');
    font-style: $style;
    font-weight: $weight;

    @if $isBlock {
      font-display: block;
    }
  }
}

@include font('Montserrat', normal, 400);
@include font('Montserrat', bold, 700);
@include font('MaterialIcons', normal, 400, true);
