$xxs: 320px;
$xs: 481px;
$sm: 769px;
$md: 1025px;
$lg: 1201px;
$xl: 1440px;

$dark: #1f2041;
$purple: #bb9cff;
$green: #6fcf97;
$primary-gradient: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
$primary-gradient-25: linear-gradient(180deg, #BC9CFF40 0%, #8BA4F940 100%);
$secondary-gradient: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);

%title {
  font-family: 'Montserrat', Arial, sans-serif;
  font-weight: bold;
  font-size: 1.5rem;
  line-height: 1.8125rem;
  margin-block-start: 0;
  margin-block-end: 0;
  color: $dark;
}

%item-title {
  font-family: 'Montserrat', Arial, sans-serif;
  font-weight: bold;
  font-size: 1.1875rem;
  line-height: 1.4375rem;
  margin-block-start: 0;
  margin-block-end: 0;
  color: $dark;
}

%label {
  font-family: 'Montserrat', Arial, sans-serif;
  font-weight: bold;
  font-size: 0.75rem;
  line-height: 0.9375rem;
  color: $dark;
  text-transform: uppercase;
}

%default-text {
  font-family: 'Montserrat', Arial, sans-serif;
  font-weight: normal;
  font-size: 0.875rem;
  line-height: 1.5rem;
  color: rgba($dark, .75);
}

%material-icons { 
  font-family: "Material Icons";
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  font-feature-settings: 'liga';
}
