include ../checkbox/checkbox

mixin checkbox-list(options = {})
  -
    const {
      text = '',
      list = [],
      isOpen = false,
    } = options;

    let classes = [];
    if (isOpen) classes.push('checkbox-list_open');

  .checkbox-list.js-checkbox-list(class = classes)
    button.checkbox-list__button.js-checkbox-list__button(type = 'button')= text
    ul.checkbox-list__content
      each initObj in list
        li.checkbox-list__item
          +checkbox(initObj)
