@import '../../styles/variables.scss';
@import '../../styles/fonts.scss';

.checkbox-list {
  &__button {
    @extend %label;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border: none;
    padding: 0;
    width: 100%;
    margin-top: 14px;
    margin-bottom: 15px;
    cursor: pointer;
    background-color: transparent;

    &::after {
      @extend %material-icons;
      font-size: 24px;
      color: rgba($dark, .5);
      content: 'expand_more';
    }
  }

  &__content {
    display: none;
    position: absolute;
    flex-direction: column;
    justify-content: left;
    align-items: flex-start;

    & .checkbox:not(:last-of-type) {
      margin-bottom: 10px;
    }
  }

  &_open, &_epxanded {
    .checkbox-list__button::after {
      transform: rotate(180deg);
    }

    .checkbox-list__content {
      display: flex;
    }
  }

  &_epxanded {
    .checkbox-list__content {
      position: inherit;
    }
  }
}
