include ../checkbox/checkbox

//- options
//-   text - озаглавие всего списка
//-   list - массив объектов для инициализации чекбоксов
mixin checkbox-list(options) 
  if !options
    - options = {};
  -
    const { text = '', list = [], isOpen = false } = options;
  
  .checkbox-list.js-checkbox-list(class = (isOpen) ? 'checkbox-list_open' : null)
    button.checkbox-list__button
      span.checkbox-list__text= text
      span.checkbox-list__icon expand_more
    .checkbox-list__content
      - for (let initObj of list)
        +checkbox(initObj)
