include ../checkbox/checkbox

//-
  options.text - заглавие всего списка
  options.list - массив объектов для инициализации чекбоксов
  options.isOpen - если true, то список изначально будет раскрыт
  options.isExpanded - если true, то список всегда будет раскрыт
mixin checkbox-list(options = {})
  -
    const {
      text = '',
      list = [],
      isOpen = false,
      isExpanded = false
    } = options;

    let classes = [];
    if (isOpen) classes.push('checkbox-list_open');
    if (isExpanded) classes.push('checkbox-list_open', 'checkbox-list_expanded');

  .checkbox-list.js-checkbox-list(class = classes)
    button.checkbox-list__button.js-checkbox-list__button(type = 'button')= text
    ul.checkbox-list__list.js-checkbox-list__list
      each initObj in list
        li.checkbox-list__item
          +checkbox(initObj)
