@import '../../styles/variables';

.comment {
  $icon-size: 3rem;

  display: grid;
  grid-template-columns: $icon-size 1fr;
  column-gap: 0.625rem;
  row-gap: 0.625rem;

  &__user-image {
    width: $icon-size;
    height: $icon-size;
    border-radius: 50%;
    border: 0.125rem solid $background;
    filter: drop-shadow($tiny-shadow);
  }

  &__user-name {
    @extend %default-text;

    font-weight: bold;
    margin-block-start: 0;
    margin-block-end: 0;
  }

  &__user-time-ago,
  &__text {
    @extend %default-text;
  }

  &__like-button {
    justify-self: center;
    margin-top: 0.125rem;
  }
}
