include ../like-button/like-button
include ../text/text

//-
  options.text - текст комментария
  options.name - имя пользователя
  options.date - дата публикации комментария, строка в формате 'YYYY-MM-DDTHH:mm:ss.sssZ'
  options.image - путь к картинке профиля (путь должен быть до картинки уже собранного проекта,
  добиться этого можно обернув путь к картинке в require)
  options.likes - количество поставленных лайков
  options.liked - проставлен ли лайк
mixin comment(options = {})
  -
    const {
      text = '',
      name = '',
      date,
      image,
      likes = 0,
      isLiked = false,
    } = options;

    const { timeAgo } = require('../../libs/utils/utils.js');

  article.comment
    img.comment__user-image(src = image alt = 'image')

    .comment__user-info
      h3.comment__user-name= name
      .comment__user-time-ago= timeAgo(date)

    .comment__like-button
      +like-button({ counter: likes, isLiked })

    .comment__text
      +text({ text })
