extends ../ui-kit-base/ui-kit-base

block variables
  -
    const title = 'Main Page Toxin';
    const { uiList, pagesList } = htmlWebpackPlugin.options.getData();

block main
  .index
    ul.index__ui-list
      each item in uiList
        li.index__item
          a.index__link(href = `${item.href}.html`)= item.text
    ui.index__pages-list
      each item in pagesList
        li.index__item
          a.index__link(href = `${item.href}.html`)= item.text
