extends ../base/base

block variables
  -
    const title = 'The Big Pepega';
    const pages = [
      'colors-and-type',
    ];

block header

block main
  ul
    each page in pages
      li
        a(href = `${page}.html`)= page

block footer
