extends ../../page-layouts/ui-kit-base/ui-kit-base

append variables
  -
    const title = 'Main Page Toxin';
    const description = 'Main Page, главная страница, из неё вы можете попасть на любую другую страницу Toxin.';
    const keywords = 'Toxin, Main, главная страница';
    const { uiList, pagesList } = htmlWebpackPlugin.options.getData();

block main
  .index
    ul.index__ui-list
      each item in uiList
        li.index__item
          a.index__link(href = `${item.href}.html`)= item.text
    ui.index__pages-list
      each item in pagesList
        li.index__item
          a.index__link(href = `${item.href}.html`)= item.text
