@use 'sass:math';
@import '../../styles/variables';

.radio-button {
  display: flex;
  align-items: flex-start;
  cursor: pointer;
  user-select: none;

  $class: &;
  $text-margin: 0.625rem;
  $marker-size: 1.25rem;
  $center-size: 0.75rem;
  $center-offset: math.div($marker-size - $center-size, 2) - 0.0625rem;

  &__input {
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }

  &__mark {
    flex-shrink: 0;
    height: $marker-size;
    width: $marker-size;
    border: $border-width solid rgba($dark, 25%);
    border-radius: 50%;

    &::after {
      content: '';
      position: relative;
      display: none;
      left: $center-offset;
      top: $center-offset;
      width: $center-size;
      height: $center-size;
      border-radius: 50%;
      background-image: $primary-gradient;
    }
  }

  &__text {
    @extend %default-text;

    display: inline-block;
    color: rgba($dark, 50%);
    line-height: 1.125rem;
    margin-left: $text-margin;
  }

  & &__input:checked {
    ~ #{$class}__text {
      color: rgba($dark, 75%);
    }

    ~ #{$class}__mark {
      border-color: $purple;

      &::after {
        display: block;
      }
    }
  }
}
