//-
  options.text - текст метки
  options.group - название группы меток
  options.isChecked - если true, то кнопка будет в состоянии checked
mixin radio-button(options = {})
  -
    const {
      text = '',
      group = 'default',
      isChecked = false,
    } = options;

  label.radio-button
    input.radio-button__input(type = 'radio' name = group checked = isChecked)
    span.radio-button__mark
    span.radio-button__text= text
