mixin radio-button(options = {})
  -
    const {
      text = '',
      name = 'default',
      isChecked = false,
    } = options;

  .radio-button
    label.radio-button__label
      input.radio-button__input(type = 'radio' name = name checked = isChecked)
      span.radio-button__mark
      span.radio-button__text= text
