@import '../../styles/variables';

.backgrounds {
  position: absolute;
  width: 100%;
  height: 100%;
  margin: 0;
  z-index: -1;

  &__image {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    top: 0;
    left: 0;
    opacity: 0;

    &_visible {
      opacity: 1;
    }

    &_fade {
      animation: ease-in 1 image-fade;
    }
  }

  @keyframes image-fade {
    0% {
      opacity: 1;
    }

    100% {
      opacity: 0;
    }
  }
}
