@import '../../styles/variables';

.reservation {
  @extend %form;

  display: grid;
  grid-row-gap: 1.25rem;
  max-width: 23.75rem;

  &__info {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }

  &__number-info {
    text-decoration: none;
  }

  &__n {
    @extend %item-title;

    font-size: 0.875rem;
    line-height: 1.0625rem;
  }

  &__number {
    @extend %title;
  }

  &__type {
    @extend %label;

    color: $purple;
    display: inline-block;
    margin-left: 0.5rem;
  }

  &__price {
    @extend %label;

    text-transform: none;
    font-weight: normal;
    color: rgba($dark, 50%);
  }

  &__calculator {
    @extend %default-text;

    display: grid;
    grid-template-columns: 1fr 1.25rem 5rem;
    grid-row-gap: 0.625rem;
  }

  &__rent {
    grid-column: 1 / 3;
  }

  &__rent-total,
  &__discount-total,
  &__additional-total {
    text-align: right;
  }

  &__i {
    display: inline-block;
    font-size: 0.75rem;
    font-weight: bold;
    color: rgba($dark, 25%);
    width: 1.25rem;
    height: 1.25rem;
    border: 0.0625rem solid rgba($dark, 25%);
    border-radius: 50%;
    text-align: center;
    line-height: 1.25rem;
  }

  &__total {
    @extend %item-title;

    display: flex;
    align-items: baseline;
    margin-top: 0.625rem;
  }

  &__dashed-underline {
    display: inline-block;
    width: 100%;
    border-bottom: 0.0625rem dashed rgba($dark, 25%);
  }

  &__total-cost {
    white-space: nowrap;
  }
}
