@import '../../styles/variables';

.reservation {
  @extend %form;

  display: grid;
  grid-row-gap: 1.25rem;
  max-width: 23.75rem;

  &__info {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }

  &__number-info {
    display: inline-flex;
    align-items: baseline;
    text-decoration: none;
    padding-top: 0.125rem;
  }

  &__n {
    @extend %item-title;

    font-size: 0.875rem;
    line-height: 1.0625rem;
  }

  &__number {
    @extend %title;
  }

  &__type {
    @extend %label;

    color: $purple;
    display: inline-block;
    margin-left: 0.5rem;
  }

  &__price {
    @extend %default-text;
  }

  &__price-per-day {
    font-size: 0.75rem;
  }

  &__calculator {
    @extend %default-text;

    line-height: 1.125rem;
    display: grid;
    grid-template-columns: 1fr 1.25rem 5rem;
    grid-row-gap: 0.9375rem;
  }

  &__rent {
    grid-column: 1 / 3;
  }

  &__rent-total,
  &__service-charge,
  &__additional-total {
    text-align: right;
  }

  &__info-icon {
    display: inline-block;
    font-size: 0.75rem;
    font-weight: bold;
    color: rgba($dark, 25%);
    width: 1.25rem;
    height: 1.25rem;
    border: $border-width solid rgba($dark, 25%);
    border-radius: 50%;
    text-align: center;
    line-height: 1.25rem;
  }

  &__total {
    @extend %item-title;

    display: flex;
    align-items: baseline;
    margin-top: 0.625rem;
  }

  &__total-title {
    display: inline-flex;
    align-items: baseline;
    flex-grow: 2;

    &::after {
      content: '';
      display: inline-block;
      width: 100%;
      border-bottom: $border-width dashed rgba($dark, 25%);
    }
  }

  &__total-cost {
    white-space: nowrap;
  }
}
