@import '../../styles/variables';

.headers-and-footers {
  padding: 8.75rem 0;
  display: grid;
  grid-row-gap: 2.5rem;

  &__center-wrapper {
    max-width: 48rem;
    width: 100%;
    margin: 0 auto;
  }
}
