@import '../../styles/variables';

.sign-up {
  @extend %form;

  display: grid;
  grid-row-gap: 1.25rem;
  max-width: 23.75rem;

  &__title {
    @extend %title;
  }

  &__row {
    display: grid;
    grid-row-gap: 0.625rem;
  }

  &__genders {
    display: flex;

    & > *:not(:last-of-type) {
      margin-right: 1.25rem;
    }
  }

  &__birthday {
    margin-top: 0.3125rem;
  }

  &__has-account {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 0.5rem;
  }

  &__label {
    @extend %default-text;

    color: black;
  }
}
