include ../text-field/text-field
include ../radio-button/radio-button
include ../toggle-button/toggle-button
include ../button/button

mixin sign-up(options = {})
  -
    const {
      title = 'Регистрация аккаунта',
      hasAccountTitle = 'Уже есть аккаунт на Toxin?',
    } = options;

  form.sign-up
    h2.sign-up__title= title

    .sign-up__row
      +text-field({ placeholder: 'Имя' })
      +text-field({ placeholder: 'Фамилия' })
      .sign-up__genders
        +radio-button({ text: 'Мужчина', name: 'gender', isChecked: true })
        +radio-button({ text: 'Женщина', name: 'gender' })

    +text-field({ title: 'дата рождения', placeholder: 'ДД.ММ.ГГГГ', type: 'mask' })

    .sign-up__row
      +text-field({ title: 'данные для входа в сервис', placeholder: 'Email' })
      +text-field({ placeholder: 'Пароль', htmlType: 'password' })
      +toggle-button({ text: 'Получать спецпредложения' })

    +button({ text: 'перейти к оплате', type: 'arrow', href: 'error-page' })

    .sign-up__has-account
      .sign-up__label= hasAccountTitle
      +button({ text: 'войти', type: 'border', href: 'sign-in-page' })
