@use 'sass:math';
@import '../../styles/variables';

.header {
  display: flex;
  justify-content: center;
  min-height: 4.375rem;
  background-color: white;
  box-shadow: $tiny-shadow;

  $class: &;
  $burger-size: 2.5rem;
  $burger-line-height: math.div($burger-size, 7);

  &__burger {
    width: $burger-size;
    height: $burger-size;
    cursor: pointer;
    background: none;
    border: none;
    padding: 0;
    display: none;

    &:hover:not(&_active) {
      & #{$class}__burger-box::before {
        top: -$burger-line-height * 3;
      }

      & #{$class}__burger-box::after {
        bottom: -$burger-line-height * 3;
      }
    }

    &_active {
      #{$class}__burger-box {
        background: transparent;
      }

      #{$class}__burger-box::before {
        top: 0;
        transform: rotateZ(45deg);
      }

      #{$class}__burger-box::after {
        bottom: 0;
        transform: rotateZ(-45deg);
      }
    }
  }

  &__burger-box {
    position: relative;
    width: $burger-size;
    height: $burger-line-height;
    background: $purple;
    transition: all 0.2s ease-out;

    &::before,
    &::after {
      content: '';
      width: $burger-size;
      height: $burger-line-height;
      background: $purple;
      position: absolute;
      left: 0;
      transition: all 0.2s ease-out;
    }

    &::before {
      top: -$burger-line-height * 2;
    }

    &::after {
      bottom: -$burger-line-height * 2;
    }
  }

  &__inner-wrapper {
    display: flex;
    box-sizing: border-box;
    justify-content: space-between;
    align-items: center;
    max-width: $content-width;
    width: 100%;
  }

  &__logo {
    width: 6.5625rem;
    height: 2.5rem;
  }

  &__info {
    display: flex;
    align-items: center;
  }

  &__vertical-line {
    height: 1.875rem;
    margin: 0 1.25rem;
    border-right: $border-width solid rgba($dark, 10%);
  }

  &__user-name {
    @extend %default-text;
  }

  &__buttons {
    margin-left: 1.25rem;
    display: grid;
    grid-template-columns: auto auto;
    grid-column-gap: 1.25rem;
  }

  @mixin mobile {
    padding: 1.25rem;

    #{$class}__burger {
      display: block;
      justify-self: right;
    }

    #{$class}__inner-wrapper {
      width: 100%;
      min-width: 0;
      display: grid;
      grid-template-columns: auto auto;
    }

    #{$class}__info {
      flex-direction: column;
      grid-column: 1 / 3;
      display: none;

      &_mobile-expanded {
        display: flex;
      }
    }

    #{$class}__vertical-line {
      height: 0;
      width: 100%;
      margin: 0;
      border-top: $border-width solid rgba($dark, 10%);
    }

    #{$class}__user-name {
      text-align: center;
      margin-top: 1.25rem;
    }

    #{$class}__buttons {
      display: flex;
      flex-direction: column;
      margin: 0;
      width: 100%;
    }

    #{$class}__menu {
      width: 100%;
    }
  }

  &_theme {
    &_mobile {
      @include mobile;
    }
  }

  @media (max-width: $md) {
    @include mobile;
  }
}
