include ../button/button
include ../menu/menu
include ../logo/logo

mixin header(options = {})
  -
    const {
      menuItems = [],
      loggedIn = false,
      userName = '',
    } = options;

  .header.js-header
    .header__inner-wrapper
      .header__home
        +logo()

      button.header__burger.js-header__burger
        .header__burger-box 

      .header__info.js-header__info
        .header__menu
          +menu({ items: menuItems })

        if loggedIn
          .header__vertical-line
          .header__user-name= userName
        else
          .header__buttons
            +button({ text: 'войти', href: 'sign-in-page.html', size: 'small', type: 'border' })
            +button({ text: 'зарегистрироваться', href: 'registration.html', size: 'small', type: 'fill' })
