@import '../../styles/variables';

.header {
  display: flex;
  justify-content: center;
  min-height: 4.375rem;
  background-color: white;
  box-shadow: 0 0.625rem 1.25rem rgba($dark, 5%);

  $class: &;
  $burger-size: 2.5rem;
  $burger-line-height: $burger-size / 7;

  @media (max-width: $md) {
    & {
      padding: 1.25rem;
    }
  }

  &__burger {
    width: $burger-size;
    height: $burger-size;
    cursor: pointer;
    background: none;
    border: none;
    padding: 0;
    display: none;

    &:hover:not(&_active) {
      & #{$class}__burger-box::before {
        top: -$burger-line-height * 3;
      }

      & #{$class}__burger-box::after {
        bottom: -$burger-line-height * 3;
      }
    }

    &_active {
      #{$class}__burger-box {
        background: transparent;
      }

      #{$class}__burger-box::before {
        top: 0;
        transform: rotateZ(45deg);
      }

      #{$class}__burger-box::after {
        bottom: 0;
        transform: rotateZ(-45deg);
      }
    }

    @media (max-width: $md) {
      & {
        display: block;
        justify-self: right;
      }
    }
  }

  &__burger-box {
    position: relative;
    display: inline-block;
    width: $burger-size;
    height: $burger-line-height;
    background: $purple;
    transition: all 0.2s ease-out;

    &::before,
    &::after {
      content: '';
      width: $burger-size;
      height: $burger-line-height;
      background: $purple;
      position: absolute;
      left: 0;
      transition: all 0.2s ease-out;
    }

    &::before {
      top: -$burger-line-height * 2;
    }

    &::after {
      bottom: -$burger-line-height * 2;
    }
  }

  &__inner-wrapper {
    display: flex;
    box-sizing: border-box;
    justify-content: space-between;
    align-items: center;
    max-width: 72.5rem;
    width: 100%;

    @media (max-width: $md) {
      & {
        width: 100%;
        min-width: 0;
        display: grid;
        grid-template-columns: auto auto;
      }
    }
  }

  &__logo {
    width: 6.5625rem;
    height: 2.5rem;
  }

  &__info {
    display: flex;
    align-items: center;

    @media (max-width: $md) {
      & {
        flex-direction: column;
        grid-column: 1 / 3;
        display: none;
      }
    }
  }

  &__vertical-line {
    height: 1.875rem;
    margin-left: 1.25rem;
    margin-right: 1.25rem;
    border-right: 0.0625rem solid rgba($dark, 10%);

    @media (max-width: $md) {
      & {
        height: 0;
        width: 100%;
        margin: 0;
        border-top: 0.0625rem solid rgba($dark, 10%);
      }
    }
  }

  &__user-name {
    @extend %default-text;

    @media (max-width: $md) {
      & {
        text-align: center;
        margin-top: 1.25rem;
      }
    }
  }

  &__buttons {
    margin-left: 1.25rem;
    display: grid;
    grid-template-columns: auto auto;
    grid-column-gap: 1.25rem;

    @media (max-width: $md) {
      & {
        display: flex;
        flex-direction: column;
        margin: 0;
        width: 100%;
      }
    }
  }

  &__menu {
    @media (max-width: $md) {
      & {
        width: 100%;
      }
    }
  }
}
