mixin datepicker(options = {})
  -
    const { 
      title = '',
      placeholder = '',
      isExpanded = false,
      isRange = false,
      isSplit = false,
      isContentOnly = false,
      selected = [],
      valueChanged,
      icon = 'expand_more',
    } = options;

    let buttons = [{ title, placeholder }];
    if (isSplit) {
      buttons = [{}, {}];
      buttons.forEach((button, index) => {
        button.title = (typeof title === 'string') ? title : title[index];
        button.placeholder = (typeof placeholder === 'string') ? placeholder : placeholder[index];
      });
    }

    const classes = [];
    if (isExpanded) classes.push('datepicker_open');
    if (isContentOnly) classes.push('datepicker_with-content-only');

  .datepicker.js-datepicker(
    class = classes 
    data-value-changed = valueChanged
    data-is-range = isRange
    data-is-split = isSplit
    data-selected = selected
  )
    .datepicker__inputs.js-datepicker__inputs(class = (isSplit) ? 'datepicker__inputs_split' : null)
      each button in buttons 
        .datepicker__input
          .datepicker__title= button.title
          .datepicker__input-box.js-datepicker__input-box
            input.datepicker__text.js-datepicker__text(type = text placeholder = button.placeholder readonly = true)
            .datepicker__icon= icon

    .datepicker__content.js-datepicker__content
