@import '../../styles/variables';

.box-layout {
  $big-width: 23.25rem;
  $width: 20rem;
  $short-width: 16.625rem;
  $small-width: 13.875rem;

  @mixin set-gap($direction, $gap) {
    & > *:not(:last-child) {
      @if $direction == column {
        margin-bottom: $gap;
      } @else if $direction == row {
        margin-right: $gap;
      }
    }
  }

  &__row {
    display: flex;

    &_gap {
      @for $i from 0 through 4 {
        $gap: $i * 10;

        &_#{$gap} {
          @include set-gap(row, #{$gap}px);
        }
      }
    }
  }

  &__column {
    display: flex;
    flex-direction: column;

    &_gap {
      @for $i from 0 through 4 {
        $gap: $i * 10;

        &_#{$gap} {
          @include set-gap(column, #{$gap}px);
        }
      }
    }
  }

  &__wrapper {
    &_width {
      &_normal {
        max-width: $width;
      }

      &_short {
        max-width: $short-width;
      }

      &_small {
        max-width: $small-width;
      }
    }
  }
}
