//-
  options.direction - направление списка, 'row' | 'column'
  options.gap - пустое место между элементами списка, число из [0, 10, 20, 30, 40]
  options.wrapper - если указано, то список будет обёрнут во враппер, 
    ограничивающий ширину списка, 'normal' | 'short' | 'small' 
mixin box-layout(options = {})
  -
    const {
      direction = 'row',
      gap,
      wrapper,
    } = options;

    const groupClasses = [];
    groupClasses.push(`box-layout__${direction}`);
    if (gap) groupClasses.push(`${groupClasses[0]}_gap_${gap}`);

    const wrapperClass = (wrapper) ? `box-layout__wrapper_${wrapper}` : null;

  .box-layout
    if wrapper
      .box-layout__wrapper(class = wrapperClass)
        div(class = groupClasses)
          block
    else
      div(class = groupClasses)
        block