include ../text/text

mixin checkbox(options = {})
  -
    const {
      isChecked = false,
      text = '',
      richTitle,
    } = options;

    const title = (richTitle) ? richTitle : text;
    const classes = [];
    if (richTitle) classes.push('checkbox_variant_rich');

  .checkbox(class = classes)
    label.checkbox__label
      input.checkbox__input(type = 'checkbox' checked = isChecked)
      span.checkbox__mark
      span.checkbox__title
        +text({ text: title })
    if richTitle
      .checkbox__description
        +text({ text })
