//-
  options.isChecked - если true, то чекбокс будет в состоянии checked
  options.text - текст метки
  options.richTitle - если указан, то добавляется заголовок richTitle
mixin checkbox(options = {})
  -
    const {
      isChecked = false,
      text = '',
      richTitle,
    } = options;

    const classes = [];
    if (richTitle) classes.push('checkbox_rich');

  label.checkbox(class = classes)
    input.checkbox__input(type = 'checkbox' checked = isChecked)
    .checkbox__mark
    if richTitle
      .checkbox__rich-container
        .checkbox__title= richTitle
        .checkbox__text= text
    else
      .checkbox__text= text
