@import '../../styles/variables.scss';
@import '../../styles/fonts.scss';

.checkbox {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  cursor: pointer;
  user-select: none;
  $text-margin: 10px;

  &__input {
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }

  &__mark {
    flex-grow: 0;
    flex-shrink: 0;
    height: 20px;
    width: 20px;
    border: 1px solid rgba($dark, .25);
    border-radius: 4px;

    &::after {
      content: '';
      position: relative;
      display: none;
      left: 6px;
      top: 3px;
      width: 6px;
      height: 8px;
      border: solid;
      border-width: 0px 3px 3px 0px;
      border-image: $primary-gradient 1;
      transform: rotate(45deg);
      border-image-repeat: stretch;
    }
  }

  &__text {
    @extend %default-text;
    color: rgba($dark, .5);
    margin-left: $text-margin;
  }

  & &__input:checked ~ &__mark {
    border-color: $purple;

    &::after {
      display: block;
    }
  }

  &_rich {
    .checkbox__rich-container {
      display: flex;
      flex-direction: column;
      margin-left: $text-margin;
    }

    .checkbox__title {      
      @extend %default-text;
      font-weight: bold;
      margin-bottom: 5px;
    }

    .checkbox__text {
      font-size: 0.75rem;
      line-height: 0.875rem;
      margin: 0;
    }
  }
}
