//-
  options.mix - класс, который будет добавлен к компоненту
  options.isChecked - если true, то чекбокс будет в состоянии checked
  options.text - текст метки
  options.richTitle - если указан, то добавляется заголовок richTitle
  options.valueChanged - название триггера, который будет запускаться при изменении состояния
mixin checkbox(options)
  if !options
    - options = {};
  -
    const { mix, isChecked = false, text = '', richTitle, valueChanged } = options;
  
    const classes = [];
    if (mix) classes.push(mix);
    if (richTitle) classes.push('checkbox_rich');
    if (isChecked) classes.push('checkbox_checked');

  .checkbox.js-checkbox(
    class = classes
    data-value-changed = valueChanged
  )
    .checkbox__mark
    if richTitle
      .checkbox__rich-container
        .checkbox__title= richTitle
        .checkbox__text= text
    else
      .checkbox__text= text
