@import '../../styles/variables';

.checkbox {
  $class: &;
  $text-margin: 0.625rem;

  &__label {
    display: inline-flex;
    vertical-align: top;
    user-select: none;
    cursor: pointer;
  }

  &__input {
    width: 0;
    height: 0;

    &:checked {
      ~ #{$class}__mark {
        border-color: $purple;

        &::after {
          display: block;
        }
      }
    }
  }

  &__mark {
    flex-shrink: 0;
    height: 1.25rem;
    width: 1.25rem;
    border: $border-width solid rgba($dark, 25%);
    border-radius: 0.25rem;

    &::after {
      content: '';
      box-sizing: border-box;
      position: relative;
      display: none;
      left: 0.375rem;
      top: 0.25rem;
      width: 0.375rem;
      height: 0.5rem;
      border: solid;
      border-width: 0 0.125rem 0.125rem 0;
      border-image: $primary-gradient 1;
      transform: rotate(45deg);
      border-image-repeat: stretch;
    }
  }

  &__title {
    @extend %default-text;

    color: rgba($dark, 50%);
    line-height: 1.25rem;
    margin-left: $text-margin;
  }

  &__description {
    @extend %default-text;

    color: rgba($dark, 50%);
    font-size: 0.75rem;
    line-height: 0.875rem;
    margin: 0.25rem 0 0 1.875rem;
  }

  &_variant {
    &_rich {
      #{$class}__title {
        font-weight: bold;
        line-height: 1.125rem;
      }
    }
  }
}
