//-
  options.isChecked - checked свойство кнопки
  options.text - текст метки
  options.?richTitle - если указан, то добавляется заголовок richTitle
mixin checkbox(options)
  if !options
    - options = {};
  -
    const { isChecked = false, text = '', richTitle } = options;
  
  label.checkbox(class = (richTitle !== undefined) ? 'checkbox_rich' : null)
    input.checkbox__input(type = 'checkbox' checked = isChecked)
    span.checkbox__mark
    if richTitle !== undefined
      span.checkbox__rich-container
        span.checkbox__title= richTitle
        span.checkbox__text= text
    else
      span.checkbox__text= text
