@import '../../styles/variables.scss';
@import '../../styles/fonts.scss';

.bullet-list {
  @extend %default-text;
  line-height: 1.75rem;
  list-style: none;
  margin-left: 0;
  padding-left: 0;
  $marker-size: 10px;

  &__point {
    &::before {
      content: "";
      display: inline-block;
      width: $marker-size;
      height: $marker-size;
      border-radius: 50%;
      background-color: rgba($dark, .25);
      margin-right: 10px;
    }
  }
}
