@import '../../styles/variables';

.bullet-list {
  list-style: none;
  margin: 0;
  padding: 0;

  $marker-size: 0.625rem;

  &__point {
    @extend %default-text;

    line-height: 1.75rem;

    &::before {
      content: '';
      display: inline-block;
      width: $marker-size;
      height: $marker-size;
      border-radius: 50%;
      background-color: rgba($dark, 25%);
      margin-right: 0.625rem;
    }
  }
}
