@import '../../styles/variables';
@import '../../styles/mixins';

.colors-and-type {
  padding: 9.0625rem 8.875rem 9.0625rem 9.375rem;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  &__color-samples-list {
    @include flex-layout(column, 1.25rem);
  }

  &__text-samples-wrapper {
    max-width: 27.5rem;
    margin-right: 0.75rem;
  }

  &__text-samples-list {
    @include flex-layout(column, 3.25rem, 27.5rem);

    margin-right: 0.75rem;

    & > *:last-child {
      margin-top: -0.325rem;
      max-width: 23rem;
    }
  }
}
