@import '../../styles/variables';
@import '../../styles/mixins';

.cards {
  @include box-layout(row, 2.5rem);

  flex-wrap: wrap;
  padding: 9.375rem 8.75rem 8.75rem;

  $width: 23.75rem;
  $short-width: 20rem;
  $small-width: 16.875rem;
  $column-gap: 1.25rem;

  &__column {
    &:nth-child(1),
    &:nth-child(2) {
      @include box-layout(column, 2.5rem, $width);
    }

    &:nth-child(3) {
      @include box-layout(column, 2.5rem, $short-width);
    }
  }

  &__thumbnails {
    @include box-layout(column, 2.5rem, $small-width);
  }
}
