@import '../../styles/variables.scss';
@import '../../styles/fonts.scss';

.text-field {
  width: 100%;

  &__info {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
  }

  &__title {
    @extend %label;
  }

  &__condition {
    @extend %label;
    font-weight: normal;
    color: rgba($dark, .5);
  }

  &__input-box {
    position: relative;
  }

  &__input {
    @extend %default-text;  
    box-sizing: border-box;
    height: 44px;
    width: 100%;
    outline: none;
    border: 1px solid rgba($dark, .25);
    border-radius: 4px;
    padding-left: 14px;
    padding-right: 14px;
    color: rgba($dark, .25);
    

    &::placeholder {
      color: rgba($dark, .25);
    }

    &:hover,
    &:focus,
    &_hovered {
      border: 1px solid rgba($dark, 0.5);
      color: rgba($dark, .75);
    }
  }

  &_subscription {
    .text-field__input {
      padding-right: 43px;
    }
    
    .text-field__icon {
      @extend %material-icons;
      font-size: 24px;
      position: absolute;
      top: 10px;
      right: 10px;
      cursor: pointer;
      user-select: none;
      background: $primary-gradient;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      display: initial;
    }
  }
}
