//-
  options.title - заголовок компонента
  options.condition - текст, показывающий в каком состоянии находится компонент
  options.placeholder - placeholder текстового поля
  options.value - изначальное значение текстового поля
  options.type - тип поля ввода: 'default' | 'mask' | 'subscription'
  options.isHovered - если true, то элемент всегда будет отображаться в состоянии hovered
  options.isPassword - если true, то текст будет отображаться шариками
mixin text-field(options = {})
  -
    const {
      title = '',
      condition = '',
      placeholder = '',
      value = '',
      isHovered = false,
      type = 'default',
      isPassword = false,
    } = options;

    const classes = [];
    if (isHovered) classes.push('text-field_hovered');
    if (type === 'subscription') classes.push('text-field_type_subscription');

    const inputClass = (type === 'mask') ? 'js-text-field__input' : null;

  .text-field(class = classes)
    if title || condition
      .text-field__info
        .text-field__title= title
        .text-field__condition= condition

    .text-field__input-wrapper
      input.text-field__input(
        class = inputClass
        placeholder = placeholder
        value = value
        type = (isPassword) ? 'password' : 'text'
      )

      if type === 'subscription'
        span.text-field__icon arrow_forward
