//- options:
//-   placeholder - текст, отображаемый когда инпут пуст и не в фокусе
//-   modifier - модификатор блока (Допустимые значения: hovered)
//-   isMasked - если true, то на инпут применяется маска ДД.ММ.ГГГГ
mixin text-field(options)
  if !options
    - options = {};
  -
    let { placeholder, modifier, isMasked } = options;
    let classes = ['text-field'];
    if (modifier) {
      classes.push(`text-field_${modifier}`);
    }
    if (isMasked) {
      classes.push(`text-field_masked`);
      placeholder = 'ДД.ММ.ГГГГ';
    }
    
  input(
    class = classes
    placeholder = placeholder
  )
