//- options:
//-   placeholder - текст, отображаемый когда инпут пуст и не в фокусе
//-   isHovered - если true, то элемент всегда будет отображаться в состоянии hovered
//-   isMasked - если true, то на инпут применяется маска ДД.ММ.ГГГГ
mixin text-field(options)
  if !options
    - options = {};
  -
    let { placeholder, isHovered = false, isMasked } = options;
    let classes = ['text-field'];
    if (isHovered) {
      classes.push(`text-field_hovered`);
    }
    if (isMasked) {
      classes.push(`text-field_masked`);
      placeholder = 'ДД.ММ.ГГГГ';
    }
    
  input(
    class = classes
    placeholder = placeholder
  )
