//-
  options.title - заголовок компонента
  options.placeholder - placeholder текстового поля
  options.value - изначальное значение текстового поля
  options.type - тип поля ввода: 'default' | 'mask' | 'subscription'
  options.htmlType - html тип инпута, 'text' | 'password'
  options.isHovered - если true, то элемент всегда будет отображаться в состоянии hovered
mixin text-field(options = {})
  -
    const {
      title = '',
      placeholder = '',
      value = '',
      type = 'default',
      htmlType = 'text',
      isHovered = false,
    } = options;

    const classes = [];
    if (isHovered) classes.push('text-field_hovered');
    if (type === 'subscription') classes.push('text-field_type_subscription');

    const inputClass = (type === 'mask') ? 'js-text-field__input' : null;

  .text-field(class = classes)
    if title
      .text-field__title= title

    .text-field__input-wrapper
      input.text-field__input(
        class = inputClass
        placeholder = placeholder
        value = value
        type = htmlType
      )

      if type === 'subscription'
        span.text-field__icon arrow_forward
