mixin text-field(options = {})
  -
    const {
      title = '',
      placeholder = '',
      value = '',
      type = 'default',
      htmlType = 'text',
      isHovered = false,
      icon = 'arrow_forward',
    } = options;

    const classes = [];
    if (isHovered) classes.push('text-field_hovered');
    if (type === 'subscription') classes.push('text-field_type_subscription');

    const inputClass = (type === 'mask') ? 'js-text-field__input' : null;

  .text-field(class = classes)
    if title
      .text-field__title= title

    .text-field__input-wrapper
      input.text-field__input(
        class = inputClass
        placeholder = placeholder
        value = value
        type = htmlType
      )

      if type === 'subscription'
        span.text-field__icon= icon
