//- options:
//-   title - заголовок компонента
//-   condition - текст, показывающий в каком состоянии находится компонент
//-   placeholder - текст, отображаемый когда инпут пуст и не в фокусе
//-   value - текст, которым будет заполнен инпут по умолчанию
//-   type - тип поля ввода, допустимые значения: 'default' | 'mask' | 'subscription'
//-     'default' | undefined - обыкновенный инпут
//-     'mask' - на инпут применяется маска ДД.ММ.ГГГГ
//-     'subscription' - у text field появляется стрелочка справа
//-   isHovered - если true, то элемент всегда будет отображаться в состоянии hovered
mixin text-field(options)
  if !options
    - options = {};
  -
    let { title = '', condition = '', placeholder = '', value = '', isHovered = false, type = 'default' } = options;
    let classes = [];
    if (type === 'mask') {
      classes.push('text-field_masked');
    }
    if (type === 'subscription') {
      classes.push('text-field_subscription');
    }
    if (isHovered) {
      classes.push('text-field_hovered');
    }

  .text-field(class = classes)
    if title !== '' || condition !== ''
      .text-field__info
        .text-field__title= title
        .text-field__condition= condition
    .text-field__input-box
      input.text-field__input(class = (type === 'mask') ? 'js-text-field_masked' : null placeholder = placeholder value = value)
      if type === 'subscription'
        span.text-field__icon arrow_forward
