extends ../base/base

include ../../components/color-sample/color-sample
include ../../components/text-sample/text-sample
include ../../components/text-field/text-field
include ../../components/button/button
include ../../components/bullet-list/bullet-list
include ../../components/checkbox/checkbox
include ../../components/advantage/advantage
include ../../components/like-button/like-button
include ../../components/comment/comment
include ../../components/logo/logo
include ../../components/radio-button/radio-button
include ../../components/rate-button/rate-button

block variables
  -
    const title = 'Тестовая страница';
    const {
      colorsSamples,
      textsSamples,
      textFields,
      buttons,
      bulletLists,
      checkboxes,
      advantages,
      likeButtons,
      comments,
      logos,
      radioButtons,
      rateButtons,
    } = htmlWebpackPlugin.options.getData();

block main
  .test-page
    if colorsSamples
      .test-page__colors-samples
        h2.test-page__title Colors Samples
        .test-page__colors-samples-list
          each colorSample in colorsSamples
            +color-sample(colorSample)
        hr.test-page__underline
    if textsSamples
      .test-page__texts-samples
        h2.test-page__title Text Samples
        .test-page__texts-samples-list
          each textSample in textsSamples
            +text-sample(textSample)
        hr.test-page__underline
    if textFields
      .test-page__text-fields
        h2.test-page__title Text Fields
        .test-page__texts-fields-list
          each textField in textFields
            +text-field(textField)
        hr.test-page__underline
    if buttons
      .test-page__buttons
        h2.test-page__title Buttons
        .test-page__buttons-list
          each button in buttons
            +button(button)
        hr.test-page__underline
    if bulletLists
      .test-page__bullet-lists
        h2.test-page__title Bullet Lists
        .test-page__bullet-lists-list
          each bulletList in bulletLists
            +bullet-list(bulletList)
        hr.test-page__underline
    if checkboxes
      .test-page__checkboxes
        h2.test-page__title Checkboxes
        .test-page__checkboxes-list
          each checkbox in checkboxes
            +checkbox(checkbox)
        hr.test-page__underline
    if advantages
      .test-page__advantages
        h2.test-page__title Advantages
        .test-page__advantages-list
          each advantage in advantages
            +advantage(advantage)
        hr.test-page__underline
    if likeButtons
      .test-page__like-buttons
        h2.test-page__title Like Buttons
        .test-page__like-buttons-list
          each likeButton in likeButtons
            +like-button(likeButton)
        hr.test-page__underline
    if comments
      .test-page__comments
        h2.test-page__title Comments
        .test-page__comments-list
          each comment in comments
            +comment({ ...comment, image: require(`./img/${comment.image}`) })
        hr.test-page__underline
    if logos
      .test-page__logos
        h2.test-page__title Logos
        .test-page__logos-list
          each logo in logos
            +logo(logo)
        hr.test-page__underline
    if radioButtons
      .test-page__radio-buttons
        h2.test-page__title Radio Buttons
        .test-page__radio-buttons-list
          each radioButton in radioButtons
            +radio-button(radioButton)
        hr.test-page__underline
    if rateButtons
      .test-page__rate-buttons
        h2.test-page__title Radio Buttons
        .test-page__rate-buttons-list
          each rateButton in rateButtons
            +rate-button(rateButton)
        hr.test-page__underline
