extends ../base/base

include ../../components/color-sample/color-sample
include ../../components/text-sample/text-sample

block variables
  -
    const title = 'Тестовая страница';
    const {
      colorsSamples,
      textsSamples,
    } = htmlWebpackPlugin.options.getData();

block main
  .test-page
    .test-page__colors-samples
      h2.test-page__title Colors Samples
      .test-page__colors-samples-list
        each colorSample in colorsSamples
          +color-sample(colorSample)
      hr.test-page__underline
    .test-page__texts-samples
      h2.test-page__title Text Samples
      .test-page__texts-samples-list
        each textSample in textsSamples
          +text-sample(textSample)
      hr.test-page__underline
