extends ../base/base

include ../../components/color-sample/color-sample
include ../../components/text-sample/text-sample
include ../../components/text-field/text-field
include ../../components/button/button
include ../../components/bullet-list/bullet-list
include ../../components/checkbox/checkbox

block variables
  -
    const title = 'Тестовая страница';
    const {
      colorsSamples,
      textsSamples,
      textFields,
      buttons,
      bulletLists,
      checkboxes,
    } = htmlWebpackPlugin.options.getData();

block main
  .test-page
    if colorsSamples
      .test-page__colors-samples
        h2.test-page__title Colors Samples
        .test-page__colors-samples-list
          each colorSample in colorsSamples
            +color-sample(colorSample)
        hr.test-page__underline
    if textsSamples
      .test-page__texts-samples
        h2.test-page__title Text Samples
        .test-page__texts-samples-list
          each textSample in textsSamples
            +text-sample(textSample)
        hr.test-page__underline
    if textFields
      .test-page__text-fields
        h2.test-page__title Text Fields
        .test-page__texts-fields-list
          each textField in textFields
            +text-field(textField)
        hr.test-page__underline
    if buttons
      .test-page__buttons
        h2.test-page__title Buttons
        .test-page__buttons-list
          each button in buttons
            +button(button)
        hr.test-page__underline
    if bulletLists
      .test-page__bullet-lists
        h2.test-page__title Bullet Lists
        .test-page__bullet-lists-list
          each bulletList in bulletLists
            +bullet-list(bulletList)
        hr.test-page__underline
    if checkboxes
      .test-page__checkboxes-lists
        h2.test-page__title Checkboxes
        .test-page__checkboxes-list
          each checkbox in checkboxes
            +checkbox(checkbox)
        hr.test-page__underline
