@import '../../styles/variables';

.test-page {
  &__colors-samples-list {
    display: grid;
    grid-template-columns: 1fr;
    grid-row-gap: 20px;
    margin: 20px;
  }

  &__texts-samples-list {
    display: grid;
    grid-template-columns: 1fr;
    grid-row-gap: 50px;
    margin: 20px;
    width: 448px;
  }

  &__texts-fields-list {
    display: grid;
    grid-template-columns: 1fr;
    grid-row-gap: 10px;
    margin: 20px;
    width: 320px;
  }

  &__buttons-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
    margin: 20px;
    width: 400px;
  }

  &__bullet-lists-list {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 50px;
    margin: 20px;
  }
}
